/*----------Charts---------------*/

.btn-group-container {
    background-color: #000;
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 99;
    transition: .5s all ease-in;

}

.btn-wrapper {
    width: 165px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    display: flex;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2)
}

.btn-bg {
    background-color: #00b749;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    transition: .3s all ease;
    box-shadow: 0 2px 6px rgba(0, 46, 0, 0.3);
}

.btn-bg.left {
    left: 0;
    width: 65px;
}

.btn-bg.right {
    left: calc(100% - 100px);
    width: 100px;
}

.option {
    height: 100%;
    background: transparent;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    outline: transparent;
    padding: 0 15px;
    color: #000;
    position: relative;
    z-index: 2;
    font-family: Gilroy-SemiBold, sans-serif;
    transition: .3s all ease;
}

.linechart-first {
    width: 65px;
}

.linechart-second {
    width: 100px;
}

.linechart-first.active,
.linechart-second.active {
    color: #fff;
}

.graph-3 .inner-container {
    margin-top: 50px;
}

.graph-3 .width-container,
.graph-1 .width-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph-3 .btn-group-container .width-container {
    display: flex;
    align-items: center;
}

.y-axis-linechart .tick text,
.x-axis-linechart .tick text {
    font-family: Gilroy-Regular, sans-serif;
    font-size: 10px;
    fill: rgb(99, 99, 99);
}

.line-chart-grid .domain,
.y-axis-linechart .domain,
.x-axis-linechart .domain,
.x-axis-linechart .tick line {
    display: none;
}


.width-container {
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-width: 320px;
    max-width: 1140px;
    width: 100%;
    padding: 0 20px;
}

.graph-title {
    font-size: 25px;
    font-family: Gilroy-ExtraBold, sans-serif;
    text-align: center;
    width: 100%;
}

.line-charts {
    margin: 0 auto 170px;
}

.line-chart {
    margin: 45px auto 100px;
}

.comunity-name {
    font-family: Gilroy-ExtraBold, sans-serif;
    font-size: 16px;
    margin-bottom: 35px;
    display: block;
    width: 20px;
    height: 20px;
}

/*----------------line chart legend ------------*/
.line-chart-legend {
    transform: translate(20px, 10px);
    font-size: 10px;
    fill: rgb(99, 99, 99);
}

.line-chart-legend .legend-title {
    transform: translate(200px, -25px);
}

.line-chart-legend .legend-rect {
    width: 10px
}

.line-chart-legend .legend-item text {
    transform: translate(-10px);
}

.line-chart-legend .legend-item {
    transform: translate(-65px);
}

@media (min-width: 500px) {
    .line-chart-legend {
        transform: translate(58px, -160px);
        font-size: 11px;
    }

    .line-chart-legend .legend-title {
        transform: translate(0, 0);
    }

    .line-chart-legend .legend-rect {
        width: 18px
    }

    .line-chart-legend .legend-item text {
        transform: translate(0px);
    }

    .line-chart-legend .legend-item {
        transform: translate(0px);
    }
}


@media (min-width: 1024px) {
    .graph-3 .btn-group-container .width-container {
        justify-content: flex-end;
    }

    .even {
        background-color: #fafafa;
    }

    .even,
    .odd {
        padding: 45px 0 100px;
    }

    .graph-3 .width-container,
    .graph-1 .width-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .line-chart {
        margin: 0;
    }

    .graph-title {
        font-size: 36px;
        text-align: left;
    }
}

@media (min-width: 1140px) {
    .width-container {
        padding: 0 0;
    }
}