.page-404 {
    background-color: #101010;
    color: #fff;
}

.nav-button-404-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

}

.page-404 .nav-menu-btn-open {
    position: relative;
    background-color: #fff;
    background-image: url("svg/menu-open-black.svg");
    transform: translate(0, 0);
}

.lateral-text-left-container {
    width: 320px;
    position: absolute;
    left: -11px;
    top: 320px;
    transform: rotate(-90deg);
    transform-origin: top left;
    color: #53585F;
    display: flex;
    align-items: center;
}

.animated-arrow {
    width: 55px;
    height: 70px;
    transform: rotate(90deg);
    margin-left: 20px;
}

.animated-virus-container {
    height: 200px;
    position: relative;
}

.animated-virus {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.3)translate(0, -400px);
}

.lateral-text-right {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: rotate(-90deg)translate(0, -50%);
    color: #53585F;
}

.top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #A0A6AF;
}

.alert-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(svg/alert.svg);
    margin-right: 10px;
}

.container-404 {
    max-width: 1140px;
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.content-container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 65px;
}

.symptoms-list {
    list-style: none;
    margin: 15px 30px 70px;
}

.h1-404 {
    color: #19E99E;
    font-size: 20px;
    font-family: Gilroy-Light, sans-serif;
}

.question-404 {
    font-family: Gilroy-Light, sans-serif;
    font-size: 24px;
}

.big-text {
    color: #FBE15C;
    font-family: Gilroy-Black, sans-serif;
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 20px;
}

.hashtag-404 {
    font-size: 20px;
    font-family: Gilroy-ExtraBold, sans-serif;
    color: #fff;
    position: relative;
}


.hashtag-404::before {
    content: "";
    width: 175px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -15px;
}


.make-test-404 {
    font-size: 20px;
    font-family: Gilroy-ExtraBold, sans-serif;
    color: #19E99E;
}


@media (min-width: 500px) {

    .content-container-404 {
        align-items: flex-start;
    }

}

@media (min-width: 1140px) {

    .animated-virus-container {
        height: auto;
    }

    .animated-virus {
        transform: scale(1);
    }

    .container-404 {
        align-items: center;
        flex-direction: row;
    }

    .h1-404 {
        font-size: 24px;
    }

    .hashtag-404,
    .make-test-404 {
        font-size: 36px;
    }

    .big-text {
        font-size: 128px;
        line-height: 150px;
    }

}