.graph-1 {
    margin-bottom: 150px;
    width: 100%;
}

.map-legend text {
    fill: rgb(99, 99, 99);
}

.global-cases .inner-container {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: space-between;
    align-items: flex-start;
}

.global-cases-data-container {
    display: flex;
    flex-direction: column;
}

.global-cases-sub-container {
    display: flex;
    border-left: 1px solid #EBEBEB;
    padding: 0 20px;
    align-items: center;
    margin-top: 30px;
}

.global-cases-sub-container-inner {
    width: 120px;
}

.global-cases-sub-container.death {
    padding-right: 0;
}

.global-cases-percent-container {
    margin-left: 20px;
}

.global-cases .graph-title {
    font-size: 24px;
    text-align: left;
    color: #484848;
}

.global-cases-sub-title {
    font-family: Gilroy-SemiBold, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.global-cases-number {
    color: #A0A6AF;
    font-family: Gilroy-ExtraBold, sans-serif;
    font-size: 24px;

}

.global-cases-percent {
    font-family: Gilroy-ExtraBold, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

.global-cases-explanation {
    font-size: 10px;
    color: #999;
    margin-top: 5px;
}

.infected .global-cases-percent {
    color: #FFAA25;
}

.death .global-cases-percent {
    color: #FA0067;
}

.infected .global-cases-bar-inner {
    content: "";
    position: absolute;
    width: auto;
    height: 10px;
    background-color: #FFAA25;
    border-radius: 5px;
}

.death .global-cases-bar-inner {
    content: "";
    position: absolute;
    width: auto;
    height: 10px;
    background-color: #FA0067;
    border-radius: 5px;
}

.global-cases-bar {
    width: 140px;
    height: 10px;
    background-color: #EBEBEB;
    border-radius: 5px;
    position: relative;
}

.region {
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
}

.tooltip {
    position: fixed;
    z-index: 999;
    left: 20px;
    top: 20%;
    padding: 20px 30px;
    background: #fff;
    color: #a0a6af;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 1rem 3rem -0.4rem rgba(250, 0, 104, 0.1);
}

.tooltip-header {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fa0067;
    font-family: Gilroy-Extrabold, sans-serif;
}

.tooltip span {
    display: inline-block;
    margin-left: 20px;
}

.tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tooltip-header-total {
    color: #00b749;
    font-family: Gilroy-Extrabold, sans-serif;
    line-height: 25px;
}

.tooltip-header-confirmed {
    color: #faaa25;
    font-family: Gilroy-Extrabold, sans-serif;
    line-height: 25px;
}

.tooltip-header-usi {
    color: #fa0067;
    font-family: Gilroy-Extrabold, sans-serif;
    line-height: 25px;
}

.tooltip-header-passed {
    color: #a0a6af;
    font-family: Gilroy-Extrabold, sans-serif;
    line-height: 25px;
}

.region:hover {
    stroke-width: 1px;
    stroke: white;
}

#map-container {
    width: 80%;
    position: relative;
    transform: translate(10%);
    margin-top: 55px;
}

#legend-container {
    width: 20%;
    position: absolute;
    top: 25px;
    left: 40px;
    transform: translate(-165%);
}

#legend-container .domain {
    display: none;
}

#legend-container text {
    font-size: 14px;
}

#chart-container {
    width: 600px;
    position: relative;
    z-index: -1;
    transform: translate(-35px, 0) rotate(-90deg);
}

#chart-container .x-axis-barchart .tick text,
#chart-container .y-axis-barchart .tick text {
    font-family: Gilroy-Regular, sans-serif;
}

#chart-container .y-axis-barchart .tick text {
    font-size: 11px;
}

.width-container.cut-overflow {
    overflow: hidden;
}

#chart-container .chart-name {
    font-family: Gilroy-Semibold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    fill: #393939;
}

@media (min-width: 650px) {
    #chart-container {
        width: 100%;
    }

    #map-container {
        width: 65%;
        position: relative;
        transform: translate(10%);
    }

    .global-cases-data-container {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .tooltip {
        position: absolute;
    }

    #map-container {
        width: 55%;
    }

    .legend-y-axis .tick text {
        font-size: 14px;
    }
}

@media (min-width: 960px) {
    .graph-1 {
        flex-direction: row;
    }

    #map-container {
        width: 55%;
    }
}

@media (min-width: 1024px) {
    .global-cases .inner-container {
        flex-direction: row;
        height: auto;
        min-height: 0;
        align-items: center;

    }

    #chart-container {
        width: 60%;
        transform: translate(20px, 0) rotate(-90deg);
    }

    #map-container {
        transform: translate(30%);
        width: 45%;
    }

    .graph-1 .width-container {
        overflow: visible;
    }
}


/*------------ toggle button --------------*/
.graph-1 .btn-group-container {
    background-color: #ebebeb7a;
    width: 100%;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 99;
    transition: .5s all ease-in;
}

.graph-1 .btn-wrapper {
    width: 165px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    display: flex;
    box-shadow: inset 0 2px 5px #00000020;
}

.graph-1 .map-btn-bg {
    background-color: #fa0067;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    top: 0;
    transition: .3s all ease;
    box-shadow: 0 2px 6px #f85390a3;
}

.graph-1 .map-btn-bg.map-left {
    left: 0;
    width: 65px;
    background-color: #fa0067;
}

.graph-1 .map-btn-bg.map-right {
    left: calc(100% - 100px);
    width: 100px;
    background-color: #FFAA25;
    box-shadow: 0 2px 6px rgba(255, 171, 37, 0.5);
}

.graph-1 .toggle {
    height: 100%;
    background: transparent;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
    outline: transparent;
    padding: 0 15px;
    color: #393939;
    position: relative;
    z-index: 2;
    transition: .3s all ease;
    font-family: Gilroy-SemiBold, sans-serif;
}

.graph-1 .map-first {
    width: 65px;
}

.graph-1 .map-second {
    width: 100px;
}

.graph-1 .map-first.map-active,
.graph-1 .map-second.map-active {
    color: #fff;
}