@font-face {
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy/Gilroy-Regular.woff2");
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("fonts/Gilroy/Gilroy-Black.woff2");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("fonts/Gilroy/Gilroy-ExtraBold.woff2");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy/Gilroy-Light.woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy/Gilroy-Medium.woff2");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("fonts/Gilroy/Gilroy-SemiBold.woff2");
}

@font-face {
  font-family: "Worksans-Regular";
  src: url("fonts/Worksans/Worksans-Regular.woff2");
}

@font-face {
  font-family: "Worksans-Semibold";
  src: url("fonts/Worksans/Worksans-Semibold.woff2");
}

:root {
  --ease-in: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
  color: #101010;
  line-height: 1.5;
}

body.menu-open {
  height: 100vh;
  overflow-y: hidden;
}

body.chronology-timeline-page {
  background-color: #ffffff;
}

body.chronology-timeline-page .chronology-page {
  background-color: #3cc3dd;
  position: fixed;
  top: 0;
  z-index: 999;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed #ebebeb;
}

/*--------------HEADER--------------*/

.global-cases {
  margin-top: 70px;
}

.margin-top {
  margin-top: 50px;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 50px;
  width: 100%;
}

.header.dashboard-page {
  background-color: #fa0067;
  color: #fff;
}

.header.datasource-page {
  background-color: #19e99e;
  color: #010101;
}

.header.api-page {
  background-color: #a950cf;
  color: #fff;
}

.header.storytelling-page {
  background-color: #fbe15c;
  color: #010101;
}

.header.chronology-page {
  background-color: #3cc3dd;
  color: #010101;
  width: 100%;
}

.header-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}

.header.datasource-page .header-icon,
.header.storytelling-page .header-icon,
.header.chronology-page .header-icon {
  background-image: url("svg/clock-black.svg");
}

header.dashboard-page .header-icon,
header.api-page .header-icon {
  background-image: url("svg/clock.svg");
}

.header.dashboard-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-white-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.chronology-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.api-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-white-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.datasource-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  min-width: 320px;
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
}

.header h2 {
  text-transform: uppercase;
  font-family: Gilroy-ExtraBold, sans-serif;
  font-size: 14px;
}

.header .headerH2 {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  display: none;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 12px;
}

/*--------------MENU--------------*/

.nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9999;
  transition: all 0.4s var(--ease-out);
}

.nav-container.show {
  left: 0;
  transition: all 0.6s var(--ease-in);
}

.nav {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #101010;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bg {
  width: 100%;
  height: 100%;
  background: url("img/menu_dash.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.08;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  z-index: 20;
}

.nav-item {
  color: #2c2e32;
  font-size: 40px;
  line-height: 60px;
  font-family: Gilroy-Black;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-item.dash:hover,
.nav-item.dash.active {
  color: #fa0067;
}

.nav-item.story:hover,
.nav-item.story.active {
  color: #fbe15c;
}

.nav-item.api:hover,
.nav-item.api.active {
  color: #a950cf;
}

.nav-item.source:hover,
.nav-item.source.active {
  color: #19e99e;
}

.nav-item.chronology:hover,
.nav-item.chronology.active {
  color: #3cc3dd;
}

.nav-why {
  color: #fff;
  font-family: Gilroy-ExtraBold, sans-serif;
  font-size: 16px;
  margin-top: 40px;
  display: block;
}

@media (min-width: 480px) {
  .header-text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header .headerH2 {
    display: flex;
  }

  .nav-item {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-item {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (min-width: 1140px) {
  .inner-container {
    padding: 0 0;
  }
}

@media (min-width: 1280px) {
  .nav-item {
    font-size: 128px;
    line-height: 128px;
  }
}

/*---------------MENU BUTTON---------------*/

.nav-menu-btn-open {
  position: fixed;
  right: 0;
  top: 25px;
  transform: translate(0, -50%);
  z-index: 100;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url("svg/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

.nav-menu-btn-open:hover {
  opacity: 0.7;
}

.nav-menu-btn-close {
  position: absolute;
  opacity: 0.7;
  right: 30px;
  top: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("svg/menu-close.svg");
  transition: 0.3s ease-in-out;
}

.nav-menu-btn-close:hover {
  opacity: 1;
}

.nav-menu-logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("svg/logo-white.svg");
}

.nav-menu-dots-container {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-menu-dots-list {
  list-style: none;
}

.nav-menu-dot {
  width: 8px;
  height: 8px;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 8px 0;
}

.nav-menu-dot.rosa {
  border-color: #fa0067;
}

.nav-menu-dot.azul {
  border-color: #3cc3dd;
}

.nav-menu-dot.amarillo {
  border-color: #fbe15c;
}

.nav-menu-dot.morado {
  border-color: #a950cf;
}

.nav-menu-dot.verde {
  border-color: #00b749;
}

@media (min-width: 768px) {
  .nav-menu-btn-close {
    right: 70px;
    top: 70px;
  }

  .nav-menu-logo {
    right: 70px;
    bottom: 70px;
  }

  .nav-menu-dots-container {
    right: 80px;
  }

  .nav-menu-dot {
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    border-radius: 50%;
    margin: 15px 0;
  }
}

/*---------------   PAGINA CRONOLOGIA ---------------*/

a.target {
  position: absolute;
  left: 0px;
  top: -120px;
}

.dot1 {
  background-color: #fa0067;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.dot2 {
  background-color: #b1e7f1;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

iframe,
object {
  width: 100%;
}

.color-blue {
  color: #3cc3dd;
}
.color-pink {
  color: #fa0067;
}
.color-green {
  color: #00b749;
}
.color-yellow {
  color: #ffaa25;
}

/* NAV Styles */
nav.nav-timeline-month {
  top: 48px;
  left: 0;
  background: #101010;
  position: sticky;
  z-index: 999;
}
nav.nav-timeline-month ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav.nav-timeline-month ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav.nav-timeline-month ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav.nav-timeline-month ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #3cc3dd;
  opacity: 0;
  transition: all 0.2s linear;
}
nav.nav-timeline-month ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav.nav-timeline-month ul li.logo {
  flex: 1;
  color: #ffffff;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 14px;
  cursor: default;
  user-select: none;
}
nav.nav-timeline-month ul li a {
  color: #ffffff;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 14px;
  text-decoration: none;
  transition: 0.4s;
}
nav.nav-timeline-month ul li:hover a {
  color: #3cc3dd;
}
nav.nav-timeline-month ul li i {
  font-size: 23px;
}
nav.nav-timeline-month ul li.btn {
  display: none;
}
nav.nav-timeline-month ul li.btn.hide i:before {
  content: "\f00d";
}
@media all and (max-width: 900px) {
  nav.nav-timeline-month {
    padding: 0 5px;
  }
  nav.nav-timeline-month ul li.items {
    width: 30%;
    display: block;
    text-align: right;
  }
  nav.nav-timeline-month ul li.items:hover {
    border-radius: 5px;
  }
}

nav.nav-timeline-day {
  float: left;
  width: 100%;
  height: 50px;
  top: 100px;
  left: 0;
  background: #101010;
  position: sticky;
  z-index: 999;
  overflow: hidden;
}

nav.nav-timeline-day .padded {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}

.nav-timeline-day ul {
  float: left;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-timeline-day ul li {
  float: left;
  display: inline;
  margin-right: 0px;
  list-style: none;
}

.nav-timeline-day ul li a {
  display: block;
  padding: 10px 10px;
  text-align: center;
  font-family: "Worksans-Regular", sans-serif;
  font-size: 10px;
  background: #101010;
  border: 1px solid #53585f;
  color: #a0a6af;
  text-decoration: none;
}

.nav-timeline-day ul li a:hover {
  color: #101010;
  background: #fbe15c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-timeline-day ul li.active a {
  background: #fbe15c;
  color: #101010;
}

/* scrollTop Styles */
.nav-timeline-day ul li.scrollTop {
  float: right;
}

.nav-timeline-day ul li.scrollTop a {
  height: 50px;
  padding: 15px 10px;
}

.nav-timeline-day ul li.scrollTop i {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
}

li a.target {
  position: absolute;
  left: 0px;
  top: -150px;
}

.nav-timeline-day ul li.scrollTop i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Cronologia Styles */

/*! GRID CONSTANTS
.col_1 { width: 6.5%; } 
.col_2 { width: 15%; } 
.col_3 { width: 23.5%; } 
.col_4 { width: 32%; } 
.col_5 { width: 40.5%; } 
.col_6 { width: 49%; } 
.col_7 { width: 57.5%; }
.col_8 { width: 66%; } 
.col_9 { width: 74.5%; } 
.col_10 { width: 83%; } 
.col_11 { width: 91.5%; } 
.col_12 { width: 100%; } */

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
  width: 100%;
  margin: 0 6% 0 0;
  float: left;
  display: block;
}

.alpha {
  margin-left: 0 !important;
}
.omega {
  margin-right: 0 !important;
}

section.timeline {
  display: grid;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.line {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
  border-left: 4px dotted #2c2e32;
  z-index: 1;
}
.point {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #3cc3dd;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #101010;
  left: -8px;
  top: 75px;
  z-index: 1;
}
section.timeline .header-content-block {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
section.timeline .timeline-content {
  width: 90%;
  max-width: 1240px;
  margin: 4em auto;
}

.timeline-content-header {
  display: flex;
  width: 100vw;
  background-color: #ebebeb;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: 3em;
}

.mod-dataEs {
  height: auto;
  min-height: 80px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #dddee0;
  border-radius: 3px;
}
.mod-dataEs .mod-dataEs-case {
  padding: 10px 8px;
  border-left: 1px solid #dddee0;
}
.mod-dataEs .mod-dataEs-case h2 {
  font-family: "Gilroy-SemiBold";
  font-size: 12px;
  line-height: 16px;
  color: #101010;
  text-transform: uppercase;
}
.mod-dataEs .mod-dataEs-case p {
  font-family: "Gilroy-ExtraBold";
  font-size: 24px;
  line-height: 30px;
  color: #a0a6af;
}

.dataEs-progressBar {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  position: relative;
  padding-top: 25px;
}
.dataEs-progressBar div.bar {
  background: #ebebeb;
  height: 10px;
  border-radius: 10px;
}
.dataEs-progressBar div.bar h3 {
  position: relative;
  top: -25px;
}
.progress-bar {
  height: 8px;
  margin: 1px 2px;
  position: absolute;
  border-radius: 10px;
}
.confirm {
  background-color: #ffaa25;
}
.dead {
  background-color: #fa0067;
}
.recover {
  background-color: #00b749;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  color: #3cc3dd;
}
.tooltip-container {
  position: absolute;
  left: 89%;
  top: 1.4%;
}
.tooltip-container:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
  transition: 0.25s all ease;
  transition-delay: 0s;
  top: -90px;
}
.tooltip-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #ffffff;
  border: 1px solid #3cc3dd;
  border-radius: 3px;
  left: -250px;
  top: -90px;
  padding: 10px 15px;
  margin: 16px;
  font-size: 15px;
  width: 250px;
  transition: 0.25s all ease;
  transition-delay: 0.25s;
  z-index: 2;
}
.tooltip-content p {
  color: #010101 !important;
}
.tooltip-content:after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  top: 100%;
  left: 225px;
  border-color: #3cc3dd transparent transparent transparent;
}

.timeline-content-header .day-info {
  margin-top: 0;
}
.timeline-content-header .day-info h2 {
  font-family: "Gilroy-ExtraBold";
  font-size: 48px;
  line-height: 50px;
  color: #101010;
  padding: 0 2px 0 0;
  margin-top: 25px;
}
.timeline-content-header .day-info h4 {
  font-family: "Worksans-SemiBold";
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 0px;
}
.timeline-content-header .day-info p {
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fa0067;
  opacity: 50%;
  padding: 0px;
  margin-bottom: 0;
  margin-top: -5px;
}
.timeline-content-header .col_5 {
  width: 45%;
}
.timeline p {
  font-family: "Worksans-Regular";
  font-size: 14px;
  color: #000000;
}
.timeline p a {
  font-family: "Worksans-SemiBold";
  font-size: 14px;
  color: #fa0067;
}
.timeline strong {
  font-family: "Worksans-SemiBold";
}

.timeline_two_columns {
  width: 100%;
  display: inline-flex;
  margin: 24px 0;
}
.timeline_two_columns .col_6 {
  margin: 0 3% 0 0;
}
.timeline-link {
  width: 100%;
  margin: 24px 0;
}
.timeline_image_content {
  width: 100%;
  text-align: center;
  margin: 24px 0;
}
.timeline_image_content img {
  width: 100%;
  margin: auto;
}
.timeline-animate-svg {
  width: 100%;
}
.timeline_image_content img.img-medium {
  width: 60%;
  margin: auto;
}
.timeline_block_image_content,
.timeline_text_content {
  width: 100%;
  margin: 24px 0;
}
.timeline_text_content p + p {
  padding-top: 2em;
}
.timeline .table-segment {
  width: 100%;
  margin: 24px 0;
}
.timeline .table-segment h3.table-title {
  font-family: "Gilroy-ExtraBold";
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
  padding: 0.8em 0;
}
.visualization-table-head {
  background-color: #fa0067;
  font-family: "Worksans-SemiBold";
  font-size: 12px;
  color: #ffffff;
}
.visualization-table-body th {
  background-color: #dddee0;
  font-family: "Worksans-SemiBold";
  color: #101010;
  padding: 0.35em 1em;
  position: relative;
  z-index: 10;
}
.visualization-table th,
.visualization-table tr,
.visualization-table td {
  font-family: "Worksans-Regular";
  color: #101010;
  font-size: 12px;
  border-radius: 0px;
  border-bottom: 1px solid #dddee0;
}
.visualization-table-head td {
  color: #ffffff;
  padding: 0.35em 1em;
}

.visualization-table-body td.cell-recuperados {
  color: #00b749;
  text-align: right;
}

.visualization-table-body td.cell-fallecidos {
  color: #fa0067;
  text-align: right;
}

.visualization-table-body td.cell-confirmados {
  color: #bfa108;
  text-align: right;
}
.visualization-table-body td.cell-total {
  color: #101010;
  text-align: right;
}
.visualization-table-body td {
  padding: 0.35em 1em;
}
.timeline-link table.display {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

table.display td {
  font-family: "Worksans-Regular";
  font-size: 14px;
  color: #101010;
  background: #ffffff;
}

table.display th,
table.display td {
  border: 1px solid #dddee0;
  padding: 0.5em 1em;
  text-align: left;
}
.timeline-link .table-timeline-link tr {
  color: #fa0067;
  background: transparent !important;
}

.timeline-link .table-timeline-link img {
  vertical-align: text-top;
}

table.display td img.table-icon {
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.timeline-link .table-timeline-link td a {
  font-family: "Worksans-Regular";
  font-size: 12px;
  color: #53585f;
}
.timeline-link .table-timeline-link td a:hover {
  color: #3cc3dd;
}

.timeline_text_bluebox {
  background-color: #3cc3dd;
  border-radius: 3px;
  padding: 1em;
  margin: 24px 0;
}
.timeline_text_bluebox p {
  font-family: "Gilroy-ExtraBold";
  font-size: 24px;
  line-height: 30px;
  color: #101010;
  margin-bottom: 0;
}

/* calendar Styles */

.timeline-content-header .day-info-calendar {
  height: 100%;
  padding: 30px 0 0;
}
.timeline-content-header .day-info .calendar {
  float: right;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 5px solid #101010;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.timeline-content-header .day-info .calendar p {
  opacity: 100%;
  margin-top: 0;
  letter-spacing: 0;
}
.timeline-content-header .day-info .calendar p.month {
  display: block;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 20px;
  color: #fbe15c;
  background: #101010;
}
.timeline-content-header .day-info .calendar p.day {
  font-family: "Gilroy-ExtraBold";
  font-size: 24px;
  line-height: 30px;
  color: #fa0067;
  margin: auto;
}

.calendar:before,
.calendar:after {
  content: "";
  float: left;
  position: absolute;
  top: -10px;
  width: 8px;
  height: 8px;
  background: #111;
  z-index: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.calendar:before {
  left: 6px;
}
.calendar:after {
  right: 6px;
}

/* MOD EUROPA DATA FACT Styles */
.timeline .mod-europa {
  width: 100%;
  margin: 24px 0;
}
.timeline .mod-europa-data-fact {
  display: inline-flex;
  width: 100%;
  margin: 0;
}

.timeline .mod-europa-data-fact .europa-data-fact-icon {
  display: inline-flex;
}
.timeline .mod-europa-data-fact .europa-data-fact-icon img {
  width: 60px;
}
.timeline .mod-europa-data-fact .europa-data-fact-icon p {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #101010;
  padding: 0;
  margin: 15px 10px;
}
.timeline .mod-europa-data-fact .europa-data-fact-info {
  padding: 5px;
}
.timeline .mod-europa-data-fact .europa-data-fact-info p.data-text {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #3cc3dd;
  padding: 0;
}
.timeline .mod-europa-data-fact .europa-data-fact-info p.data-number {
  font-family: "Gilroy-ExtraBold";
  font-size: 48px;
  line-height: 50px;
  color: #101010;
  text-align: right;
  padding: 0;
}
.timeline .mod-europa-data-fact .europa-data-fact-flag p {
  font-family: "Gilroy-ExtraBold";
  font-size: 16px;
  line-height: 20px;
  color: #101010;
  padding: 0;
  margin: 0;
}

.timeline .mod-europa-data-fact .europa-data-fact-flag {
  margin: 0;
  padding: 8px 0;
}
.timeline .mod-europa-data-fact .europa-data-fact-flag img {
  width: 28px;
}

/* MOD TASA LETALIDAD DATA FACT Styles */
.timeline .mod-tasa-letalidad {
  width: 100%;
  margin: 24px 0;
}
.timeline .mod-tasa-letalidad-data-fact {
  display: inline-flex;
  width: 100%;
  margin: 0;
}

.timeline .mod-tasa-letalidad-data-fact .tasa-letalidad-data-fact-info h2 {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #101010;
  padding: 0;
}
.timeline
  .mod-tasa-letalidad-data-fact
  .tasa-letalidad-data-fact-info
  p.data-text {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #3cc3dd;
  padding: 0;
}
.timeline
  .mod-tasa-letalidad-data-fact
  .tasa-letalidad-data-fact-info
  p.data-number {
  font-family: "Gilroy-ExtraBold";
  font-size: 48px;
  line-height: 50px;
  color: #101010;
  text-align: right;
  padding: 0;
}
.timeline .mod-tasa-letalidad-data-fact .tasa-letalidad-data-fact-flag p {
  font-family: "Gilroy-ExtraBold";
  font-size: 16px;
  line-height: 20px;
  color: #101010;
  padding: 0;
  margin: 0;
}

.timeline .mod-tasa-letalidad-data-fact .tasa-letalidad-data-fact-flag {
  margin: 0;
  padding: 8px 0;
}
.timeline .mod-tasa-letalidad-data-fact .tasa-letalidad-data-fact-flag img {
  width: 28px;
}

/* MOD COUNTRY DATA FACT Styles */
.timeline .mod-country-data-fact {
  display: inline-flex;
  width: 100%;
  max-height: 150px;
  margin: 24px 0;
}

.timeline .mod-country-data-fact .country-data-fact-info {
  display: inline-flex;
  float: right;
  padding: 5px;
  width: 50%;
}
.timeline .mod-country-data-fact .country-data-fact-icon img {
  width: 60px;
  padding: 12px 0;
}
.timeline .mod-country-data-fact .country-data-fact-info p.data-text {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #3cc3dd;
  padding: 0;
}
.timeline .mod-country-data-fact .country-data-fact-info p.data-number {
  font-family: "Gilroy-ExtraBold";
  font-size: 48px;
  line-height: 50px;
  color: #fa0067;
  margin-right: 20px;
  padding: 0;
}
.timeline .mod-country-data-fact .country-data-fact-flag p {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #101010;
  padding: 0;
  margin: 0;
}

.timeline .mod-country-data-fact .country-data-fact-flag p.country-flag-block {
  display: inline;
}
.timeline .mod-country-data-fact .country-data-fact-flag p span {
  display: flex;
  margin-top: -5px;
}
.timeline .mod-country-data-fact .country-data-fact-flag {
  margin: 0;
  padding: 8px 0;
}
.timeline .mod-country-data-fact .country-data-fact-flag img {
  width: 24px;
}

/* MOD COUNTRY ALERT Styles */
.timeline .mod-country-alarm {
  display: inline-flex;
  background: #ebebeb;
  width: 100%;
  border-radius: 4px;
  margin: 24px 0;
}
.timeline .mod-country-alarm .country-alarm-icon {
  background: #3cc3dd;
  padding: 5px;
  text-align: center;
}
.timeline .mod-country-alarm .country-alarm-icon img {
  width: 45px;
  position: relative;
  top: calc(50% - 25px);
}
.timeline .mod-country-alarm p {
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  line-height: 24px;
  color: #101010;
  padding: 1em;
  margin-bottom: 0 !important;
}
.timeline .mod-country-alarm .country-alarm-flag {
  display: inline-flex;
  margin: auto;
}
.timeline .mod-country-alarm .country-alarm-flag img {
  width: 24px;
}

/* banner alert Styles */
.banner-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 1.5em 0;
}
.alert-animate-svg {
  width: 64px;
  padding-right: 12px;
}
.alert-pink {
  background: #fa0067;
  color: #ffffff;
}
.alert-yellow {
  background: #fbe15c;
  color: #101010;
}
.alert-green {
  background: #19e99e;
  color: #101010;
}
.alert-blue {
  background: #3cc3dd;
  color: #ffffff;
}
.alert-purple {
  background: #a950cf;
  color: #ffffff;
}
.alert-grey {
  background: #a0a6af;
  color: #101010;
}
.banner-alert .timeline-alert-block {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1120px;
  position: relative;
}
.banner-alert .timeline-alert-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-top: 6px;
}
.banner-alert .timeline-alert-block img {
  margin-right: 1.5em;
  width: 47px;
  vertical-align: middle;
}

/* banner resumen Styles */

.banner-week-summary {
  display: flex;
  width: 100vw;
  height: auto;
  background: #3cc3dd;
  padding: 3em 0 3em;
}

.banner-week-summary .timeline-summary-block {
  margin: 1em auto;
  width: 90%;
  max-width: 1120px;
  position: relative;
}
.banner-week-summary .timeline-summary-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 64px;
  line-height: 64px;
  color: #fbe15c;
}
.banner-week-summary.small-text .timeline-summary-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 36px;
  line-height: 38px;
}

.banner-week-summary .timeline-summary-block h2.news-banner {
  color: #101010;
}
.banner-week-summary img {
  float: right;
}
.strong-white {
  color: #ffffff;
}
.strong-gold {
  color: #fbe15c;
}
.banner-week-summary .timeline-summary-block h3 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #101010;
}

.banner-week-columns {
  margin-top: 3em;
}
.banner-week-columns p {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #101010;
}
.banner-week-columns strong {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
}
.banner-week-columns .line-dotted {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: dotted;
  border-color: #ffffff;
  margin: 0.5em 0;
}

@media screen and (min-width: 1200px) {
  .col_1 {
    width: 6.5%;
  }
  .col_2 {
    width: 15%;
  }
  .col_3 {
    width: 23.9%;
  }
  .col_4 {
    width: 32%;
  }
  .col_5 {
    width: 40.5%;
  }
  .col_6 {
    width: 47%;
  }
  .col_7 {
    width: 57.5%;
  }
  .col_8 {
    width: 66%;
  }
  .col_9 {
    width: 74.5%;
  }
  .col_10 {
    width: 83%;
  }
  .col_11 {
    width: 91.5%;
  }
  .col_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .timeline-content-header .day-info-calendar {
    padding: 15px 0;
  }
  .timeline-content {
    max-width: 980px;
    width: 90%;
    margin: 20px auto;
  }
  .col_1 {
    width: 6.5%;
  }
  .col_2 {
    width: 15%;
  }
  .col_3 {
    width: 23.5%;
  }
  .col_4 {
    width: 32%;
  }
  .col_5 {
    width: 40.5%;
  }
  .col_6 {
    width: 47%;
  }
  .col_7 {
    width: 57.5%;
  }
  .col_8 {
    width: 66%;
  }
  .col_9 {
    width: 74.5%;
  }
  .col_10 {
    width: 83%;
  }
  .col_11 {
    width: 91.5%;
  }
  .col_12 {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  .timeline-content-header .day-info-calendar {
    padding: 15px 0 8px;
  }
  .timeline-content-header .day-info p {
    font-size: 12px;
  }
  .timeline-content-header h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 960px) {
  .timeline-content-header .day-info-calendar {
    padding: 8px 0 4px;
  }
  .timeline-content-header .day-info h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .visualization-table th,
  .visualization-table tr,
  .visualization-table td {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .tooltip-container {
    left: 86.4%;
    top: 2.35%;
  }
  .tooltip-content {
    left: -235px;
    top: -90px;
  }
  .tooltip-content:after {
    left: 225px;
  }
  .timeline-content-header .day-info-calendar {
    padding: 20px 0 0;
  }
  .line {
    left: 2%;
  }
  .timeline-content {
    max-width: 780px;
    width: 85%;
    margin: 0 5% 0 10%;
  }
  .timeline-content-header .day-img {
    width: 95%;
    padding: 20px 0 10px;
  }
  .col_6 {
    width: 100%;
  }

  .timeline .table-segment h3 {
    padding: 0.5em 0 !important;
  }

  .timeline-link a {
    font-size: 10px;
  }

  .visualization-table th,
  .visualization-table tr,
  .visualization-table td {
    font-size: 12px;
  }

  nav.nav-timeline-day {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .col_3 {
    width: 25%;
  }
  .col_6,
  .col_7,
  .col_8 {
    width: 100%;
  }
  .line {
    left: 3%;
  }
  section.timeline .timeline-content {
    max-width: 450px;
    width: 85%;
    margin: 12px 14px 12px 30px;
  }
  .tooltip-container {
    left: 89%;
    top: 3.1%;
  }
  .tooltip-content {
    left: -250px;
    top: 25px;
  }
  .tooltip-container:hover .tooltip-content {
    left: -250px;
    top: 25px;
  }
  .tooltip-content:after {
    left: 225px;
    top: -21px;
    border-color: transparent transparent #3cc3dd transparent;
  }
  .day-img,
  .day-info {
    margin-left: 4%;
  }

  .timeline-content-header .day-info h4 {
    font-size: 12px;
    line-height: 14px;
  }
  .timeline-content-header .day-info h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
  }
  .timeline-content-header .day-info p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    letter-spacing: 6px;
  }
  .timeline-content-header .day-info-calendar {
    padding: 20px 0 0;
  }
  .timeline-content-header .day-info-calendar .calendar {
    width: 36px;
  }
  .timeline-content-header .day-img {
    width: 95%;
  }
  .timeline-content-header .day-img h2 {
    font-size: 10px;
    line-height: 12px;
  }
  .dataEs-progressBar div.bar h3,
  .timeline-content-header .day-img p {
    font-size: 16px;
    line-height: 20px;
  }
  .timeline-link,
  .timeline_image_content,
  .timeline_text_content,
  .timeline .table-segment {
    padding: 12px 0;
  }
  .timeline_two_columns {
    display: inline-block;
  }
  .timeline_two_columns {
    padding: 6px 0;
  }
  .timeline_two_columns p,
  .timeline_two_columns img {
    padding: 12px 0;
  }
  .timeline_text_bluebox {
    width: 95%;
  }
  .timeline_block_image_content {
    display: flex;
    vertical-align: top;
  }
  .timeline_block_image_content img {
    margin-left: 0;
    vertical-align: text-top;
    height: 100%;
  }

  .banner-week-summary {
    width: 100vw;
  }

  .timeline .mod-europa-data-fact .europa-data-fact-icon {
    display: block;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-icon p {
    margin: 0;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-info {
    display: grid;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-info p.data-text {
    text-align: right;
  }
  .timeline .mod-tasa-letalidad-data-fact .tasa-letalidad-data-fact-flag p,
  .timeline .mod-europa-data-fact .europa-data-fact-flag p {
    font-size: 12px;
    line-height: 14px;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-info p.data-number {
    font-size: 48px;
    line-height: 55px;
    margin-right: 5px;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-info p.data-text {
    width: 100%;
  }
  .timeline .mod-europa-data-fact .europa-data-fact-icon img,
  .timeline .mod-country-data-fact .country-data-fact-icon img {
    width: 45px;
  }
  .timeline .mod-country-data-fact {
    height: 100px;
  }
  .timeline .mod-country-data-fact .country-data-fact-flag {
    padding: 0;
  }
  .timeline .mod-country-data-fact .country-data-fact-info {
    display: block;
    text-align: right;
    padding: 0;
    width: 100%;
  }
  .timeline .mod-country-data-fact .country-data-fact-flag p {
    font-size: 12px;
    line-height: 12px;
    margin-top: -6px;
    padding: 0;
  }

  .timeline .mod-europa-data-fact .europa-data-fact-info p.data-text,
  .timeline .mod-country-data-fact .country-data-fact-info p.data-text {
    font-size: 14px;
    line-height: 14px;
  }
  .timeline .mod-country-data-fact .country-data-fact-info p.data-number {
    font-size: 36px;
    line-height: 36px;
    margin-right: 5px;
  }
  .timeline .mod-country-alarm .country-alarm-icon img {
    width: 30px;
  }
  .timeline .mod-country-alarm p {
    font-size: 14px;
    line-height: 20px;
  }
  .banner-week-summary .timeline-summary-block {
    width: 85%;
    max-width: 360px;
    margin: 0 auto;
  }
  .banner-week-summary .timeline-summary-block h2 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 36px;
    line-height: 40px;
  }

  .banner-week-summary .timeline-summary-block h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .banner-week-summary .timeline-summary-block p,
  .banner-week-summary .timeline-summary-block p strong {
    font-size: 24px;
  }
  .banner-week-summary .timeline-summary-block h2.news-banner {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-week-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .timeline-content-header .day-info .calendar {
    width: 42px;
    height: 50px;
  }
  .calendar:before {
    left: 3px;
  }
  .calendar:after {
    right: 3px;
  }
  .timeline-content-header .day-info .calendar p.month {
    font-size: 11px;
    line-height: 16px;
  }
  .timeline-content-header .day-info .calendar p.day {
    font-size: 18px;
    line-height: 26px;
  }
  .timeline-link .table-timeline-link tr {
    font-size: 12px;
  }
  .timeline_text_bluebox p {
    font-size: 16px;
    line-height: 20px;
  }
  iframe {
    height: 100%;
  }
  /*visualization-table*/
  .table-segment {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .timeline .mod-europa-data-fact .europa-data-fact-info p.data-number {
    font-size: 40px;
  }
}

.flag-icon-title {
  width: 100px;
  height: auto;
  background-repeat: no-repeat;
}
.flag-icon-content {
  width: 50px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 28px;
}

/*--------- EUROPE FLAGS ----------*/

.EU {
  background-image: url("svg/flags/259-european-union.svg");
}
.AL {
}
.AD {
  background-image: url("svg/flags/045-andorra.svg");
}
.AM {
}
.AT {
}
.AZ {
}
.BY {
}
.BE {
  background-image: url("svg/flags/165-belgium.svg");
}
.BA {
  background-image: url("svg/flags/132-bosnia-and-herzegovina.svg");
}
.BG {
  background-image: url("svg/flags/168-bulgaria.svg");
}
.HR {
  background-image: url("svg/flags/164-croatia.svg");
}
.CY {
  background-image: url("svg/flags/101-northern-cyprus.svg");
}
.CZ {
  background-image: url("svg/flags/149-czech-republic.svg");
}
.DK {
  background-image: url("svg/flags/174-denmark.svg");
}
.EE {
  background-image: url("svg/flags/008-estonia.svg");
}
.FO {
}
.FI {
  background-image: url("svg/flags/125-finland.svg");
}
.FR {
  background-image: url("svg/flags/195-france.svg");
}
.GE {
  background-image: url("svg/flags/256-georgia.svg");
}
.DE {
  background-image: url("svg/flags/162-germany.svg");
}
.GI {
  background-image: url("svg/flags/213-gibraltar.svg");
}
.EL {
  background-image: url("svg/flags/170-greece.svg");
}
.GG {
  background-image: url("svg/flags/204-guernsey.svg");
}
.VA {
  background-image: url("svg/flags/124-vatican-city.svg");
}
.HU {
  background-image: url("svg/flags/115-hungary.svg");
}
.IS {
  background-image: url("svg/flags/080-iceland.svg");
}
.IE {
  background-image: url("svg/flags/179-ireland.svg");
}
.IT {
  background-image: url("svg/flags/013-italy.svg");
}
.JE {
  background-image: url("svg/flags/245-jersey.svg");
}
.XK {
  background-image: url("svg/flags/052-kosovo.svg");
}
.LV {
  background-image: url("svg/flags/044-latvia.svg");
}
.LI {
  background-image: url("svg/flags/134-liechtenstein.svg");
}
.LT {
  background-image: url("svg/flags/064-lithuania.svg");
}
.LU {
  background-image: url("svg/flags/035-luxembourg.svg");
}
.MT {
  background-image: url("svg/flags/194-malta.svg");
}
.MD {
  background-image: url("svg/flags/212-moldova.svg");
}
.MC {
  background-image: url("svg/flags/039-monaco.svg");
}
.ME {
  background-image: url("svg/flags/239-montenegro.svg");
}
.NL {
  background-image: url("svg/flags/237-netherlands.svg");
}
.MK {
  background-image: url("svg/flags/236-republic-of-macedonia.svg");
}
.NO {
  background-image: url("svg/flags/143-norway.svg");
}
.PL {
  background-image: url("svg/flags/211-poland.svg");
}
.PT {
  background-image: url("svg/flags/224-portugal.svg");
}
.RO {
  background-image: url("svg/flags/109-romania.svg");
}
.RU {
  background-image: url("svg/flags/248-russia.svg");
}
.SM {
  background-image: url("svg/flags/097-san-marino.svg");
}
.RS {
  background-image: url("svg/flags/071-serbia.svg");
}
.SK {
  background-image: url("svg/flags/091-slovakia.svg");
}
.SI {
  background-image: url("svg/flags/010-slovenia.svg");
}
.ES {
  background-image: url("svg/flags/128-spain.svg");
}
.SE {
  background-image: url("svg/flags/184-sweden.svg");
}
.CH {
  background-image: url("svg/flags/205-switzerland.svg");
}
.TR {
  background-image: url("svg/flags/218-turkey.svg");
}
.UA {
  background-image: url("svg/flags/145-ukraine.svg");
}
.UK {
  background-image: url("svg/flags/260-united-kingdom.svg");
}

/*--------- WORLD FLAGS ----------*/
.abkhazia {
  background-image: url("svg/flags/048-abkhazia.svg");
}
.afghanistan {
  background-image: url("svg/flags/111-afghanistan.svg");
}
.aland-islands {
  background-image: url("svg/flags/087-aland-islands.svg");
}
.albania {
  background-image: url("svg/flags/099-albania.svg");
}
.algeria {
  background-image: url("svg/flags/144-algeria.svg");
}
.american-samoa {
  background-image: url("svg/flags/027-american-samoa.svg");
}
.angola {
  background-image: url("svg/flags/117-angola.svg");
}
.anguilla {
  background-image: url("svg/flags/025-anguilla.svg");
}
.antigua-and-barbuda {
  background-image: url("svg/flags/075-antigua-and-barbuda.svg");
}
.argentina {
  background-image: url("svg/flags/198-argentina.svg");
}
.armenia {
  background-image: url("svg/flags/108-armenia.svg");
}
.aruba {
  background-image: url("svg/flags/042-aruba.svg");
}
.australia {
  background-image: url("svg/flags/234-australia.svg");
}
.austria {
  background-image: url("svg/flags/003-austria.svg");
}
.azerbaijan {
  background-image: url("svg/flags/141-azerbaijan.svg");
}
.azores-islands {
  background-image: url("svg/flags/240-azores-islands.svg");
}
.bahamas {
  background-image: url("svg/flags/120-bahamas.svg");
}
.bahrain {
  background-image: url("svg/flags/138-bahrain.svg");
}
.balearic-islands {
  background-image: url("svg/flags/102-balearic-islands.svg");
}
.bangladesh {
  background-image: url("svg/flags/147-bangladesh.svg");
}
.barbados {
  background-image: url("svg/flags/084-barbados.svg");
}
.basque-country {
  background-image: url("svg/flags/093-basque-country.svg");
}
.belarus {
  background-image: url("svg/flags/135-belarus.svg");
}
.belize {
  background-image: url("svg/flags/078-belize.svg");
}
.benin {
  background-image: url("svg/flags/060-benin.svg");
}
.bermuda {
  background-image: url("svg/flags/081-bermuda.svg");
}
.bhutan {
  background-image: url("svg/flags/040-bhutan.svg");
}
.bolivia {
  background-image: url("svg/flags/150-bolivia.svg");
}
.bonaire {
  background-image: url("svg/flags/072-bonaire.svg");
}
.botswana {
  background-image: url("svg/flags/126-botswana.svg");
}
.brazil {
  background-image: url("svg/flags/255-brazil.svg");
}
.british-columbia {
  background-image: url("svg/flags/123-british-columbia.svg");
}
.british-indian-ocean-territory {
  background-image: url("svg/flags/069-british-indian-ocean-territory.svg");
}
.british-virgin-islands {
  background-image: url("svg/flags/114-british-virgin-islands.svg");
}
.brunei {
  background-image: url("svg/flags/119-brunei.svg");
}
.burkina-faso {
  background-image: url("svg/flags/090-burkina-faso.svg");
}
.burundi {
  background-image: url("svg/flags/057-burundi.svg");
}
.cambodia {
  background-image: url("svg/flags/159-cambodia.svg");
}
.cameroon {
  background-image: url("svg/flags/105-cameroon.svg");
}
.canada {
  background-image: url("svg/flags/243-canada.svg");
}
.canary-islands {
  background-image: url("svg/flags/054-canary-islands.svg");
}
.cape-verde {
  background-image: url("svg/flags/038-cape-verde.svg");
}
.cayman-islands {
  background-image: url("svg/flags/051-cayman-islands.svg");
}
.central-african-republic {
  background-image: url("svg/flags/036-central-african-republic.svg");
}
.ceuta {
  background-image: url("svg/flags/019-ceuta.svg");
}
.chad {
  background-image: url("svg/flags/066-chad.svg");
}
.chile {
  background-image: url("svg/flags/131-chile.svg");
}
.china {
  background-image: url("svg/flags/034-china.svg");
}
.christmas-island {
  background-image: url("svg/flags/017-christmas-island.svg");
}
.cocos-island {
  background-image: url("svg/flags/023-cocos-island.svg");
}
.colombia {
  background-image: url("svg/flags/177-colombia.svg");
}
.comoros {
  background-image: url("svg/flags/029-comoros.svg");
}
.cook-islands {
  background-image: url("svg/flags/021-cook-islands.svg");
}
.corsica {
  background-image: url("svg/flags/031-corsica.svg");
}
.costa-rica {
  background-image: url("svg/flags/156-costa-rica.svg");
}
.cuba {
  background-image: url("svg/flags/153-cuba.svg");
}
.curacao {
  background-image: url("svg/flags/116-curacao.svg");
}
.democratic-republic-of-congo {
  background-image: url("svg/flags/249-democratic-republic-of-congo.svg");
}
.djibouti {
  background-image: url("svg/flags/068-djibouti.svg");
}
.dominica {
  background-image: url("svg/flags/186-dominica.svg");
}
.dominican-republic {
  background-image: url("svg/flags/047-dominican-republic.svg");
}
.east-timor {
  background-image: url("svg/flags/140-east-timor.svg");
}
.ecuador {
  background-image: url("svg/flags/104-ecuador.svg");
}
.egypt {
  background-image: url("svg/flags/158-egypt.svg");
}
.el-salvador {
  background-image: url("svg/flags/015-el-salvador.svg");
}
.england {
  background-image: url("svg/flags/216-england.svg");
}
.equatorial-guinea {
  background-image: url("svg/flags/189-equatorial-guinea.svg");
}
.eritrea {
  background-image: url("svg/flags/065-eritrea.svg");
}
.ethiopia {
  background-image: url("svg/flags/005-ethiopia.svg");
}
.falkland-islands {
  background-image: url("svg/flags/215-falkland-islands.svg");
}
.fiji {
  background-image: url("svg/flags/137-fiji.svg");
}
.french-polynesia {
  background-image: url("svg/flags/180-french-polynesia.svg");
}
.gabon {
  background-image: url("svg/flags/059-gabon.svg");
}
.galapagos-islands {
  background-image: url("svg/flags/171-galapagos-islands.svg");
}
.gambia {
  background-image: url("svg/flags/146-gambia.svg");
}
.ghana {
  background-image: url("svg/flags/053-ghana.svg");
}
.greenland {
  background-image: url("svg/flags/113-greenland.svg");
}
.grenada {
  background-image: url("svg/flags/210-grenada.svg");
}
.guam {
  background-image: url("svg/flags/207-guam.svg");
}
.guatemala {
  background-image: url("svg/flags/098-guatemala.svg");
}
.guinea {
  background-image: url("svg/flags/110-guinea.svg");
}
.guinea-bissau {
  background-image: url("svg/flags/056-guinea-bissau.svg");
}
.haiti {
  background-image: url("svg/flags/185-haiti.svg");
}
.hawaii {
  background-image: url("svg/flags/262-hawaii.svg");
}
.honduras {
  background-image: url("svg/flags/024-honduras.svg");
}
.hong-kong {
  background-image: url("svg/flags/183-hong-kong.svg");
}
.india {
  background-image: url("svg/flags/246-india.svg");
}
.indonesia {
  background-image: url("svg/flags/209-indonesia.svg");
}
.iran {
  background-image: url("svg/flags/136-iran.svg");
}
.iraq {
  background-image: url("svg/flags/020-iraq.svg");
}
.isle-of-man {
  background-image: url("svg/flags/219-isle-of-man.svg");
}
.israel {
  background-image: url("svg/flags/155-israel.svg");
}
.ivory-coast {
  background-image: url("svg/flags/161-ivory-coast.svg");
}
.jamaica {
  background-image: url("svg/flags/037-jamaica.svg");
}
.japan {
  background-image: url("svg/flags/063-japan.svg");
}
.jordan {
  background-image: url("svg/flags/077-jordan.svg");
}
.kazakhstan {
  background-image: url("svg/flags/074-kazakhstan.svg");
}
.kenya {
  background-image: url("svg/flags/067-kenya.svg");
}
.kiribati {
  background-image: url("svg/flags/261-kiribati.svg");
}
.kwait {
  background-image: url("svg/flags/107-kwait.svg");
}
.kyrgyzstan {
  background-image: url("svg/flags/152-kyrgyzstan.svg");
}
.laos {
  background-image: url("svg/flags/112-laos.svg");
}
.lebanon {
  background-image: url("svg/flags/018-lebanon.svg");
}
.lesotho {
  background-image: url("svg/flags/176-lesotho.svg");
}
.liberia {
  background-image: url("svg/flags/169-liberia.svg");
}
.libya {
  background-image: url("svg/flags/231-libya.svg");
}
.macao {
  background-image: url("svg/flags/167-macao.svg");
}
.madagascar {
  background-image: url("svg/flags/242-madagascar.svg");
}
.madeira {
  background-image: url("svg/flags/148-madeira.svg");
}
.malasya {
  background-image: url("svg/flags/118-malasya.svg");
}
.malawi {
  background-image: url("svg/flags/214-malawi.svg");
}
.maldives {
  background-image: url("svg/flags/225-maldives.svg");
}
.mali {
  background-image: url("svg/flags/173-mali.svg");
}
.marshall-island {
  background-image: url("svg/flags/103-marshall-island.svg");
}
.martinique {
  background-image: url("svg/flags/201-martinique.svg");
}
.mauritania {
  background-image: url("svg/flags/050-mauritania.svg");
}
.mauritius {
  background-image: url("svg/flags/001-mauritius.svg");
}
.melilla {
  background-image: url("svg/flags/197-melilla.svg");
}
.mexico {
  background-image: url("svg/flags/252-mexico.svg");
}
.micronesia {
  background-image: url("svg/flags/046-micronesia.svg");
}
.mongolia {
  background-image: url("svg/flags/258-mongolia.svg");
}
.montserrat {
  background-image: url("svg/flags/043-montserrat.svg");
}
.morocco {
  background-image: url("svg/flags/166-morocco.svg");
}
.mozambique {
  background-image: url("svg/flags/096-mozambique.svg");
}
.myanmar {
  background-image: url("svg/flags/058-myanmar.svg");
}
.namibia {
  background-image: url("svg/flags/062-namibia.svg");
}
.nato {
  background-image: url("svg/flags/254-nato.svg");
}
.nauru {
  background-image: url("svg/flags/228-nauru.svg");
}
.nepal {
  background-image: url("svg/flags/016-nepal.svg");
}
.new-zealand {
  background-image: url("svg/flags/121-new-zealand.svg");
}
.nicaragua {
  background-image: url("svg/flags/007-nicaragua.svg");
}
.niger {
  background-image: url("svg/flags/222-niger.svg");
}
.nigeria {
  background-image: url("svg/flags/086-nigeria.svg");
}
.niue {
  background-image: url("svg/flags/182-niue.svg");
}
.norfolk-island {
  background-image: url("svg/flags/193-norfolk-island.svg");
}
.north-korea {
  background-image: url("svg/flags/030-north-korea.svg");
}
.northern-marianas-islands {
  background-image: url("svg/flags/160-northern-marianas-islands.svg");
}
.oman {
  background-image: url("svg/flags/004-oman.svg");
}
.ossetia {
  background-image: url("svg/flags/129-ossetia.svg");
}
.pakistan {
  background-image: url("svg/flags/100-pakistan.svg");
}
.palau {
  background-image: url("svg/flags/178-palau.svg");
}
.palestine {
  background-image: url("svg/flags/208-palestine.svg");
}
.panama {
  background-image: url("svg/flags/106-panama.svg");
}
.papua-new-guinea {
  background-image: url("svg/flags/163-papua-new-guinea.svg");
}
.paraguay {
  background-image: url("svg/flags/041-paraguay.svg");
}
.peru {
  background-image: url("svg/flags/188-peru.svg");
}
.philippines {
  background-image: url("svg/flags/192-philippines.svg");
}
.pitcairn-islands {
  background-image: url("svg/flags/095-pitcairn-islands.svg");
}
.puerto-rico {
  background-image: url("svg/flags/028-puerto-rico.svg");
}
.qatar {
  background-image: url("svg/flags/026-qatar.svg");
}
.rapa-nui {
  background-image: url("svg/flags/175-rapa-nui.svg");
}
.republic-of-the-congo {
  background-image: url("svg/flags/157-republic-of-the-congo.svg");
}
.rwanda {
  background-image: url("svg/flags/206-rwanda.svg");
}
.saba-island {
  background-image: url("svg/flags/061-saba-island.svg");
}
.sahrawi-arab-democratic-republic {
  background-image: url("svg/flags/203-sahrawi-arab-democratic-republic.svg");
}
.saint-kitts-and-nevis {
  background-image: url("svg/flags/033-saint-kitts-and-nevis.svg");
}
.samoa {
  background-image: url("svg/flags/251-samoa.svg");
}
.sao-tome-and-prince {
  background-image: url("svg/flags/012-sao-tome-and-prince.svg");
}
.sardinia {
  background-image: url("svg/flags/257-sardinia.svg");
}
.saudi-arabia {
  background-image: url("svg/flags/133-saudi-arabia.svg");
}
.scotland {
  background-image: url("svg/flags/055-scotland.svg");
}
.senegal {
  background-image: url("svg/flags/227-senegal.svg");
}
.seychelles {
  background-image: url("svg/flags/253-seychelles.svg");
}
.sicily {
  background-image: url("svg/flags/130-sicily.svg");
}
.sierra-leone {
  background-image: url("svg/flags/092-sierra-leone.svg");
}
.singapore {
  background-image: url("svg/flags/230-singapore.svg");
}
.sint-eustatius {
  background-image: url("svg/flags/250-sint-eustatius.svg");
}
.sint-maarten {
  background-image: url("svg/flags/089-sint-maarten.svg");
}
.solomon-islands {
  background-image: url("svg/flags/085-solomon-islands.svg");
}
.somalia {
  background-image: url("svg/flags/083-somalia.svg");
}
.somaliland {
  background-image: url("svg/flags/247-somaliland.svg");
}
.south-africa {
  background-image: url("svg/flags/200-south-africa.svg");
}
.south-korea {
  background-image: url("svg/flags/094-south-korea.svg");
}
.south-sudan {
  background-image: url("svg/flags/244-south-sudan.svg");
}
.sri-lanka {
  background-image: url("svg/flags/127-sri-lanka.svg");
}
.st-barts {
  background-image: url("svg/flags/079-st-barts.svg");
}
.st-lucia {
  background-image: url("svg/flags/172-st-lucia.svg");
}
.st-vincent-and-the-grenadines {
  background-image: url("svg/flags/241-st-vincent-and-the-grenadines.svg");
}
.sudan {
  background-image: url("svg/flags/199-sudan.svg");
}
.suriname {
  background-image: url("svg/flags/076-suriname.svg");
}
.swaziland {
  background-image: url("svg/flags/154-swaziland.svg");
}
.syria {
  background-image: url("svg/flags/022-syria.svg");
}
.taiwan {
  background-image: url("svg/flags/202-taiwan.svg");
}
.tajikistan {
  background-image: url("svg/flags/196-tajikistan.svg");
}
.tanzania {
  background-image: url("svg/flags/006-tanzania.svg");
}
.thailand {
  background-image: url("svg/flags/238-thailand.svg");
}
.tibet {
  background-image: url("svg/flags/142-tibet.svg");
}
.togo {
  background-image: url("svg/flags/073-togo.svg");
}
.tokelau {
  background-image: url("svg/flags/235-tokelau.svg");
}
.tonga {
  background-image: url("svg/flags/191-tonga.svg");
}
.transnistria {
  background-image: url("svg/flags/233-transnistria.svg");
}
.trinidad-and-tobago {
  background-image: url("svg/flags/181-trinidad-and-tobago.svg");
}
.tunisia {
  background-image: url("svg/flags/049-tunisia.svg");
}
.turkmenistan {
  background-image: url("svg/flags/229-turkmenistan.svg");
}
.turks-and-caicos {
  background-image: url("svg/flags/223-turks-and-caicos.svg");
}
.tuvalu {
  background-image: url("svg/flags/070-tuvalu-1.svg");
}
.tuvalu {
  background-image: url("svg/flags/221-tuvalu.svg");
}
.uganda {
  background-image: url("svg/flags/009-uganda.svg");
}
.united-arab-emirates {
  background-image: url("svg/flags/151-united-arab-emirates.svg");
}
.united-nations {
  background-image: url("svg/flags/082-united-nations.svg");
}
.united-states {
  background-image: url("svg/flags/226-united-states.svg");
}
.uruguay {
  background-image: url("svg/flags/088-uruguay.svg");
}
.uzbekistn {
  background-image: url("svg/flags/190-uzbekistn.svg");
}
.vanuatu {
  background-image: url("svg/flags/187-vanuatu.svg");
}
.venezuela {
  background-image: url("svg/flags/139-venezuela.svg");
}
.vietnam {
  background-image: url("svg/flags/220-vietnam.svg");
}
.virgin-islands {
  background-image: url("svg/flags/217-virgin-islands.svg");
}
.wales {
  background-image: url("svg/flags/014-wales.svg");
}
.yemen {
  background-image: url("svg/flags/232-yemen.svg");
}
.zambia {
  background-image: url("svg/flags/032-zambia.svg");
}
.zimbabwe {
  background-image: url("svg/flags/011-zimbabwe.svg");
}

/*---------footer---------*/
.footer {
  height: 100px;
  width: 100%;
  background-color: #101010;
  color: #fff;
  font-size: 10px;
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  min-width: 320px;
  max-width: 950px;
  width: 100%;
  padding: 20px;
  font-family: Worksans-Regular, sans-serif;
}

.footer-inner-left,
footer-inner-right {
  display: inline-block;
}

.footer-logo {
  width: 18px;
  height: 18px;
  background-image: url("svg/logo-white.svg");
  background-repeat: no-repeat;
}

.footer-logo.logo-desktop {
  display: none;
}

.footer-logo.logo-mobile {
  margin-bottom: 10px;
}

.footer-text {
  display: none;
}

.footer a {
  color: #fff;
  transition: 0.3s;
}

.footer a:hover {
  opacity: 0.7;
}

@media (min-width: 960px) {
  .footer {
    height: 35px;
    font-size: 11px;
  }

  .footer-text {
    display: inline-block;
  }

  .footer-inner-container {
    padding: 0 0;
    flex-direction: row;
    text-align: center;
  }

  .footer-logo.logo-desktop {
    display: block;
  }

  .footer-logo.logo-mobile {
    display: none;
  }
}
