@font-face {
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy/Gilroy-Regular.woff2");
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("fonts/Gilroy/Gilroy-Black.woff2");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("fonts/Gilroy/Gilroy-ExtraBold.woff2");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy/Gilroy-Light.woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy/Gilroy-Medium.woff2");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("fonts/Gilroy/Gilroy-SemiBold.woff2");
}

@font-face {
  font-family: "Worksans-Regular";
  src: url("fonts/Worksans/Worksans-Regular.woff2");
}

@font-face {
  font-family: "Worksans-Semibold";
  src: url("fonts/Worksans/Worksans-Semibold.woff2");
}

:root {
  --ease-in: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
  color: #101010;
  line-height: 1.5;
}

body.menu-open {
  height: 100vh;
  overflow-y: hidden;
}

body.chronology-timeline-page {
  background-color: #ffffff;
}

body.chronology-timeline-page .chronology-page {
  background-color: #3cc3dd;
  position: fixed;
  top: 0;
  z-index: 999;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed #ebebeb;
}

/*
Crear clase .p new-country

/*--------------HEADER--------------*/

.global-cases {
  margin-top: 70px;
}

.margin-top {
  margin-top: 50px;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  height: 50px;
  width: 100%;
}

.header.dashboard-page {
  background-color: #fa0067;
  color: #fff;
}

.header.datasource-page {
  background-color: #19e99e;
  color: #010101;
}

.header.api-page {
  background-color: #a950cf;
  color: #fff;
}

.header.storytelling-page {
  background-color: #fbe15c;
  color: #010101;
}

.header.chronology-page {
  background-color: #3cc3dd;
  color: #010101;
  width: 100%;
}

.header-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}

.header.datasource-page .header-icon,
.header.storytelling-page .header-icon,
.header.chronology-page .header-icon {
  background-image: url("svg/clock-black.svg");
}

header.dashboard-page .header-icon,
header.api-page .header-icon {
  background-image: url("svg/clock.svg");
}

.header.dashboard-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-white-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.chronology-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.api-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-white-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.header.datasource-page .header-virus-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("svg/virus-ico.svg");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  min-width: 320px;
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
}

.header h2 {
  text-transform: uppercase;
  font-family: Gilroy-ExtraBold, sans-serif;
  font-size: 14px;
}

.header .headerH2 {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  display: none;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 12px;
}

/*--------------MENU--------------*/

.nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9999;
  transition: all 0.4s var(--ease-out);
}

.nav-container.show {
  left: 0;
  transition: all 0.6s var(--ease-in);
}

.nav {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #101010;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bg {
  width: 100%;
  height: 100%;
  background: url("img/menu_dash.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.08;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  z-index: 20;
}

.nav-item {
  color: #2c2e32;
  font-size: 40px;
  line-height: 60px;
  font-family: Gilroy-Black;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-item.dash:hover,
.nav-item.dash.active {
  color: #fa0067;
}

.nav-item.story:hover,
.nav-item.story.active {
  color: #fbe15c;
}

.nav-item.api:hover,
.nav-item.api.active {
  color: #a950cf;
}

.nav-item.source:hover,
.nav-item.source.active {
  color: #19e99e;
}

.nav-item.chronology:hover,
.nav-item.chronology.active {
  color: #3cc3dd;
}

.nav-why {
  color: #fff;
  font-family: Gilroy-ExtraBold, sans-serif;
  font-size: 16px;
  margin-top: 40px;
  display: block;
}

@media (min-width: 480px) {
  .header-text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header .headerH2 {
    display: flex;
  }

  .nav-item {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (min-width: 1024px) {
  .nav-item {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (min-width: 1140px) {
  .inner-container {
    padding: 0 0;
  }
}

@media (min-width: 1280px) {
  .nav-item {
    font-size: 128px;
    line-height: 128px;
  }
}

/*---------------MENU BUTTON---------------*/

.nav-menu-btn-open {
  position: fixed;
  right: 0;
  top:25px;
  transform: translate(0, -50%);
  z-index: 100;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url("svg/menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

.nav-menu-btn-open:hover {
  opacity: 0.7;
}

.nav-menu-btn-close {
  position: absolute;
  opacity: 0.7;
  right: 30px;
  top: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("svg/menu-close.svg");
  transition: 0.3s ease-in-out;
}

.nav-menu-btn-close:hover {
  opacity: 1;
}

.nav-menu-logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("svg/logo-white.svg");
}

.nav-menu-dots-container {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-menu-dots-list {
  list-style: none;
}

.nav-menu-dot {
  width: 8px;
  height: 8px;
  border: 1px solid #999;
  border-radius: 50%;
  margin: 8px 0;
}

.nav-menu-dot.rosa {
  border-color: #fa0067;
}

.nav-menu-dot.azul {
  border-color: #3cc3dd;
}

.nav-menu-dot.amarillo {
  border-color: #fbe15c;
}

.nav-menu-dot.morado {
  border-color: #a950cf;
}

.nav-menu-dot.verde {
  border-color: #00b749;
}

@media (min-width: 768px) {
  .nav-menu-btn-close {
    right: 70px;
    top: 70px;
  }

  .nav-menu-logo {
    right: 70px;
    bottom: 70px;
  }

  .nav-menu-dots-container {
    right: 80px;
  }

  .nav-menu-dot {
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    border-radius: 50%;
    margin: 15px 0;
  }
}

/*--------------API PAGE--------------*/

.apiPage-body {
  background-color: #a950cf;
}

.apiPage-source {
  max-width: 1140px;
  margin: 0 auto 130px;
}

.apiPage-introduction-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.apiPage-introduction-container * {
  transition: 0.3s;
}

.apiPage-introduction-text-container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 50px;
}

.apiPage-introduction-text-container p {
  margin-bottom: 25px;
}

.apiPage-introduction-h2 {
  font-size: 72px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  margin: 45px 0;
  color: #a950cf;
}
.apiPage-introduction-container .paragraph-container {
  padding-bottom: 2em;
}

.apiPage-introduction-container .paragraph-bold {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 18px;
  width: 65%;
}
.apiPage-introduction-container .paragraph-bold-full {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 18px;
  width: 100%;
}
.apiPage-introduction-container .entry-link-scontainer {
  text-align: center;
  font-family: "Worksans-Regular", sans-serif;
  color: #000000;
  padding: 1em 0 4em;
}
.apiPage-introduction-container .entry-link-scontainer h4 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.apiPage-introduction-container .entry-link-scontainer a {
  font-size: 24px;
}
.apiPage-introduction-container .entry-link-scontainer a:hover {
  color: #a950cf;
}

.apiPage-introduction-container .btn-cta {
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 24px;
  background-color: #000000;
  border-radius: 7px;
  padding: 12px 18px;
  margin: 0 4px;
  text-decoration: none;
  text-align: center;
}

.apiPage-introduction-container .btn-cta:hover {
  background-color: #a950cf;
  color: #ffffff;
  text-decoration: none;
}

.api-logo-repo-bitbucket {
  width: 150px;
  height: 30px;
  background-image: url("svg/bitbucket.svg");
  display: inline-block;
  background-repeat: no-repeat;
  transition: 0.2s;
  vertical-align: bottom;
  margin-left: 5px;
}
.api-logo-repo-github {
  width: 150px;
  height: 35px;
  background-image: url("svg/github.svg");
  display: inline-block;
  background-repeat: no-repeat;
  transition: 0.2s;
  vertical-align: bottom;
  margin-left: 8px;
}
.api-logo-access-api {
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-image: url("svg/access-api.svg");
  display: inline-block;
  background-repeat: no-repeat;
  transition: 0.2s;
  vertical-align: bottom;
  margin-right: 10px;
}
.line-dotted {
  width: 100%;
  border-width: 0 0 3px 0;
  border-style: dotted;
  border-color: #a0a6af;
  margin: 5em 0;
}

/*----- ApiTable ------*/
.api-source {
  max-width: 1000px;
  margin: 0 auto 5em;
  background-color: #dddee0;
  padding-bottom: 5em;
}
.api-source table.layout {
  width: 90%;
  margin: 0 auto;
}
.api-source table.display th.table-description {
  font-size: 14px;
  color: #000000;
  padding: 3em 0 0;
}
.api-source table.display th.table-description h2 {
  font-family: "Gilroy-SemiBold";
  color: #000000;
}
.api-source table.display th.table-description p {
  font-family: "Worksans-Regular";
  color: #000000;
}
.api-source table.display th,
.api-source table.display td {
  border: none;
  padding: 0.5em 1em;
}
.api-source table.display tr {
  border-bottom: 1px solid #dddee0;
}

.api-source table.display th.table-title {
  font-size: 24px;
  color: #000000;
  padding: 1em 0;
}
.api-source table.display th.table-header-title {
  font-family: "Worksans-Semibold";
  font-size: 14px;
  color: #101010;
  background: #ebebeb;
}

.api-source table.display th.table-subheader-title {
  font-family: "Worksans-Semibold";
  font-size: 12px;
  color: #ffffff;
  background: #a950cf;
}
.api-source table.display td {
  background: transparent;
  min-width: 100px;
}
.api-source table.display tbody.table-body tr:nth-child(odd) {
  background: #fcfcfc;
}
.api-source table.display tbody.table-body tr:nth-child(even) {
  background: #ffffff;
}
.table-iso {
  padding-bottom: 5em;
}
.success-tick {
  width: 15px;
  height: 15px;
  position: relative;
}
.success-tick:after {
  content: "";
  height: 15px;
  border-left: 3px solid #1d9c44;
  position: absolute;
  transform: rotate(40deg);
  left: 64px;
  top: 10px;
}

.success-tick:before {
  content: "";
  height: 8px;
  border-left: 3px solid #1d9c44;
  position: absolute;
  transform: rotate(-40deg);
  left: 57px;
  top: 18px;
}
.none-tick {
  width: 15px;
  height: 15px;
  position: relative;
}
.none-tick:after {
  content: "";
  height: 15px;
  border-left: 3px solid #f45614;
  position: absolute;
  transform: rotate(45deg);
  left: 60px;
  top: 10px;
}

.none-tick:before {
  content: "";
  height: 15px;
  border-left: 3px solid #f45614;
  position: absolute;
  transform: rotate(-45deg);
  left: 60px;
  top: 10px;
}

@media (max-width: 780px) {
  .apiPage-introduction-h2 {
    font-size: 72px;
  }
  .apiPage-introduction-container .paragraph-bold {
    width: 100%;
  }
  .apiPage-introduction-container .btn-cta {
    width: 65%;
    margin: 0 4px 20px;
    display: block;
  }
  .api-source {
    max-width: 80%;
  }
  .api-source table.layout .table-iso {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .apiPage-introduction-h2 {
    font-size: 56px;
    margin: 20px 0;
  }
  .line-dotted {
    margin: 2em 0;
  }
  .apiPage-introduction-text-container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .apiPage-introduction-container .btn-cta {
    width: 100%;
  }
  .apiPage-introduction-container .btn-cta {
    font-size: 18px;
  }
  .apiPage-introduction-container .entry-link-scontainer a {
    font-size: 18px;
  }
  .api-source {
    max-width: 95%;
  }
  .api-source table.display th.table-description h2,
  .api-source table.display th.table-description p,
  .api-source table.display th.table-title {
    padding: 1em 1.5em;
  }
  .api-source table.display th.table-header-title {
    font-size: 10px;
  }
  table.display td {
    font-size: 12px;
  }
  .api-source table.display th,
  .api-source table.display td {
    padding: 0.5em 0.5em;
  }
  .success-tick:before {
    left: 43px;
  }
  .success-tick:after {
    left: 50px;
  }
  .none-tick:before {
    left: 45px;
  }
  .none-tick:after {
    left: 45px;
  }
}
@media (max-width: 360px) {
  .header.api-page {
    width: 100vw;
  }
  .api-page .inner-container {
    width: 100%;
  }
  .apiPage-source {
    max-width: 100%;
    margin: 0 auto 130px;
  }
  .apiPage-introduction-container {
    width: 90vw;
  }
  .apiPage-introduction-text-container {
    padding: 0;
  }
  .apiPage-introduction-h2 {
    font-size: 48px;
    margin: 25px 0;
  }
  .line-dotted {
    margin: 1em 0;
  }
  .apiPage-introduction-container .paragraph-bold {
    width: 100%;
  }
  .apiPage-introduction-container .btn-cta {
    width: 100%;
    font-size: 14px;
    margin: 0 4px 20px;
    display: block;
  }
  .api-logo-repo-bitbucket {
    width: 50%;
    height: 18px;
    background-size: 80%;
  }
  .api-logo-repo-github {
    width: 50%;
    height: 22px;
    background-size: 80%;
  }
  .api-logo-access-api {
    width: 25px;
    height: 25px;
    background-size: 25px;
    vertical-align: middle;
    margin-right: 15px;
  }
  .api-source {
    max-width: 100%;
  }
  .api-source table.display th.table-header-title {
    font-size: 12px;
  }
  .apiPage-source table.display td {
    max-width: 5vw;
    min-width: 25vw;
  }
  .api-source table.layout .table-iso {
    width: 100%;
    margin-left: -6%;
  }
  .success-tick:before {
    left: 36px;
    top: 16px;
  }
  .success-tick:after {
    left: 43px;
    top: 10px;
  }
  .none-tick:before,
  .none-tick:after {
    left: 40px;
  }
  .apiPage-introduction-container .entry-link-scontainer a {
    font-size: 14px;
  }
  .api-source table.display th,
  .api-source table.display td {
    padding: 0.5em 0.7em;
  }
  .api-source table.display th.table-description h2,
  .api-source table.display th.table-description p,
  .api-source table.display th.table-title {
    padding: 1em 0.5em;
  }
}

/*--------------TABLE--------------*/

.datasource-body {
  background-color: #19e99e;
}

.data-source {
  max-width: 1140px;
  margin: 0 auto 130px;
}

.data-source * {
  transition: all 0.4s var(--ease-in);
}

table th,
table td {
  text-align: left;
}

.table-body {
  box-shadow: 0 1rem 2rem -0.4rem rgba(0, 0, 0, 0.75);
}

table.layout {
  width: 100%;
  border-collapse: collapse;
}

table.display {
  margin: 1em 0;
}

table.display th,
table.display td {
  border: 1px solid #dddee0;
  padding: 0.5em 1em;
}

table.display td {
  font-family: "Worksans-Regular";
  font-size: 14px;
  color: #101010;
  background: #ffffff;
}

table.display th.table-title {
  color: #ffffff;
  font-family: "Gilroy-ExtraBold";
  line-height: 1.2;
  margin: 0 auto;
  padding: 1em 0.3em 0.5em;
  border: none;
  font-size: 60px;
}

table.display td.block-title {
  background: #2c2e32;
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  color: #19e99e;
  margin: 0 auto;
  border: none;
}

table.display td.block-subtitle {
  background: #baf8e2;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
}

table.display td.block-subtitle-part {
  background: #ebebeb;
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  color: #101010;
}

table.display td.section {
  background: #ffffff;
  color: #101010;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
}

table.display td a {
  color: #101010;
  text-decoration: none;
}

table.display td.td-link:hover {
  background-color: #19e99e;
  text-decoration: none;
}

table.display td img.table-icon {
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

table.display td div.info-row-title {
  display: inline-block;
  min-width: 45%;
  color: #101010;
}

table.display td div.info-row-twocontent {
  display: inline-block;
  min-width: 25%;
  border-left: 1px solid #dddee0;
}

table.display td div.info-row-threecontent {
  display: inline-block;
  min-width: 17%;
  border-left: 1px solid #dddee0;
}

table.display td div.info-row-twocontent img,
table.display td div.info-row-threecontent img {
  margin: 0 5px 0 10px;
}

@media (min-width: 780px) {
  .data-source {
    margin: 0 auto 200px;
  }

  table.display th.table-title {
    font-size: 120px;
    padding: 2.5em 0.6em 0.5em 0;
  }
}

/*-----------Introduction section-----------*/

.introduction-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("img/overlay-bright-source.png");
  background-color: #19e99e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.introduction-container * {
  transition: 0.3s;
}

.introduction-text-container {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  padding: 0 50px;
}

.introduction-text-container p {
  margin-bottom: 25px;
}

.introduction-container .virus-black {
  width: 50px;
  height: 50px;
  background-image: url("svg/virus-ico.svg");
  display: inline-block;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.introduction-container .logo-black {
  width: 40px;
  height: 40px;
  background-image: url("svg/logo-black.svg");
  display: block;
  margin: 26px auto 90px;
}

.introduction-h2 {
  font-size: 36px;
  font-family: Gilroy-Black, sans-serif;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-bold {
  font-family: Gilroy-ExtraBold, sans-serif;
  font-size: 18px;
}

.paragraph {
  font-family: Worksans-Regular, sans-serif;
}

@media (min-width: 780px) {
  .introduction-h2 {
    font-size: 72px;
  }

  .introduction-container .virus-black {
    width: 105px;
    height: 105px;
  }
}

.paragraph-bold {
  font-family: Gilroy-ExtraBold, sans-serif;
}

/* banner alert Styles */

.banner-alert {
  display: flex;
  width: 100vw;
  height: auto;
  padding: 1.5em 0;
}
.alert-pink {
  background: #fa0067;
  color: #ffffff;
}
.alert-yellow {
  background: #fbe15c;
  color: #101010;
}
.alert-green {
  background: #19e99e;
  color: #101010;
}
.alert-blue {
  background: #3cc3dd;
  color: #ffffff;
}
.alert-purple {
  background: #a950cf;
  color: #ffffff;
}
.alert-grey {
  background: #a0a6af;
  color: #101010;
}
.banner-alert .timeline-alert-block {
  display: inline-flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1120px;
  position: relative;
}
.banner-alert .timeline-alert-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-top: 6px;
}
.banner-alert .timeline-alert-block img {
  margin-right: 1.5em;
  width: 47px;
  vertical-align: middle;
}

/*-------------- Chronology Page -------------*/

.timeline {
  position: relative;
  margin: 100px auto;
  width: 70em;
  height: 100%;
  min-height: 100vh;
  padding: 50px 0;
}
.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  border-left: 5px dotted #101010;
  z-index: 1;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  box-sizing: border-box;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 0 0 4em;
}

.timeline ul li .section-block {
  margin-bottom: 2.5em;
}

.timeline ul li strong {
  font-family: "Worksans-SemiBold";
}

.timeline ul li iframe {
  width: 100%;
  margin-bottom: 2em;
}

.timeline ul li .right_content.timeline_text_content {
  width: 100%;
  padding: 0em 2em 12em;
  margin-top: -35px;
}

.timeline ul li .left_content.timeline_text_content {
  width: 100%;
  padding: 5em 2em;
}
.timeline .section-day-bar {
  margin-left: -112.8%;
  margin-right: 0;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 1em 0;
  background: #ebebeb;
}
.timeline .section-day-bar-content {
  margin-left: 53%;
}
.timeline ul li .right_content.timeline_text_content .two-columns,
.timeline ul li .left_content.timeline_text_content .two-columns {
  display: inline-flex;
  padding-top: 2em;
}

.timeline ul li .right_content.timeline_text_content .two-columns img + p {
  width: 45%;
  margin-left: 2em;
}

.timeline
  ul
  li
  .left_content.timeline_text_content
  .two-columns
  p.two-columns-text {
  margin-left: 2em;
}

.timeline ul li .left_content.timeline_text_content .two-columns p {
  width: 50%;
}

.timeline ul li .right_content.timeline_text_content .two-columns img,
.timeline ul li .left_content.timeline_text_content .two-columns img {
  width: 45%;
}

.timeline ul li .left_content.timeline_text_content .block-image-right {
  display: inline-flex;
  padding-top: 2em;
}

.timeline ul li .right_content.timeline_text_content .block-image-right {
  display: inline-flex;
  padding: 1em 0;
}

.timeline ul li .right_content.timeline_text_content .block-image-right img,
.timeline ul li .left_content.timeline_text_content .block-image-right img {
  width: 10em;
}

.timeline ul li .right_content.timeline_text_content .block-image-right p,
.timeline ul li .left_content.timeline_text_content .block-image-right p {
  margin-left: 20px;
}

.timeline ul li .left_content.timeline_text_content h2,
.timeline ul li .right_content.timeline_text_content h2 {
  font-family: "Gilroy-ExtraBold";
  font-size: 48px;
  color: #101010;
  padding: 0 2px 0 0;
}

.timeline ul li .left_content.timeline_text_content h3,
.timeline ul li .right_content.timeline_text_content h3 {
  font-family: "Gilroy-ExtraBold";
  font-size: 24px;
  color: #3cc3dd;
  padding: 0 2px 40px 0;
  margin-top: -10px;
}

.timeline ul li .right_content.timeline_text_content h4 {
  font-family: "Worksans-Regular";
  font-size: 12px;
  color: #000000;
  padding: 0px;
  margin-bottom: -10px;
}

.timeline ul li .left_content.timeline_text_content p,
.timeline ul li .right_content.timeline_text_content p {
  font-family: "Worksans-Regular";
  font-size: 14px;
  color: #000000;
  margin-bottom: 2em;
}

.timeline ul li .left_content.timeline_text_content p a,
.timeline ul li .right_content.timeline_text_content p a {
  font-family: "Worksans-SemiBold";
  font-size: 14px;
  color: #fa0067;
}

.timeline ul li .right_content.timeline_text_content .timeline-img-content,
.timeline ul li .left_content.timeline_text_content .timeline-img-content {
  width: 100%;
  margin-bottom: 2em;
}

.timeline-img-content.timeline-img-charts {
  margin-top: 2em;
}

.timeline
  ul
  li
  .right_content.timeline_text_content
  .timeline-img-content.img-map,
.timeline
  ul
  li
  .left_content.timeline_text_content
  .timeline-img-content.img-map {
  width: 90%;
  margin-bottom: 2em;
  margin-left: 5%;
}

.timeline ul li .left_content.timeline_text_content .dot1 {
  background-color: #fa0067;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.timeline ul li .left_content.timeline_text_content .dot2 {
  background-color: #b1e7f1;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.timeline ul li:nth-child(odd) {
  float: right;
  text-align: left;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.left_content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #3cc3dd;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #101010;
  left: -4px;
  top: 0;
  z-index: 1;
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #3cc3dd;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #101010;
  left: -4px;
  top: -10px;
  z-index: 1;
}

.timeline ul li:nth-child(odd) .left_content.date-banner {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
}

.timeline ul li:nth-child(even) .left_content.date-banner {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
}

.timeline ul li .left_content.date-banner {
  width: 100px;
  padding: 0.5em 0.6em;
  font-weight: 400;
  top: 0;
  background: #dddee0;
  color: #000000;
  margin-left: 10px;
  border-radius: 2px;
  display: inline-flex;
}

.timeline ul li .left_content.date-banner .timeline-icon {
  margin: 0 10px 0 0;
}

.timeline_text_content .timeline-link {
  margin-bottom: 20px;
}
.timeline_text_content .timeline-link .table-timeline-link .table-body {
  box-shadow: none;
}
.timeline_text_content .timeline-link .table-timeline-link tr {
  color: #fa0067;
  background: transparent !important;
}
.timeline_text_content .timeline-link .table-timeline-link td {
  background: transparent !important;
}

.timeline_text_content .timeline-link .table-timeline-link img {
  vertical-align: text-top;
}

.timeline_text_content .timeline-link .table-timeline-link td a {
  font-family: "Worksans-Regular";
  font-size: 12px;
  color: #53585f;
}
.timeline_text_content .timeline-link .table-timeline-link td a:hover {
  color: #3cc3dd;
}
.timeline ul li .left_content.date-banner:after {
  border: 6px solid;
  border-color: transparent transparent transparent #dddee0;
  content: " ";
  position: absolute;
  right: -12px;
  margin-top: 0;
}

.timeline ul li .right_content.timeline_image_content {
  text-align: center;
}

.timeline ul li .right_content.timeline_image_content img.timeline-img-iso {
  width: 50%;
  margin-bottom: 2em;
}

.timeline ul li .left_content.timeline_image_content.simple-image {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2em;
}

.timeline ul li .right_content.timeline_image_content img.timeline-img-big-iso {
  width: 100%;
  margin-bottom: 2em;
}
.timeline-animate-svg {
  width: 100%;
}

.timeline ul li .left_content.timeline_text_content,
.timeline ul li .left_content.timeline_image_content {
  position: absolute;
  top: 12px;
  left: -100%;
  width: 100%;
  margin: 0;
  color: #fff;
}

.timeline ul li .left_content.timeline_image_content.image_datos {
  top: -34px;
  left: -94%;
}

.timeline
  ul
  li
  .left_content.timeline_image_content.image_datos
  .timeline-img-datos {
  width: 30em;
}

.timeline ul li .left_content.timeline_image_content .timeline-img {
  top: 15%;
  width: 30em;
}

.timeline ul.content-list li {
}
.timeline ul.content-list li:nth-child(odd):before {
  content: "";
  position: initial !important;
  width: 12px;
  height: 12px;
  background: #3cc3dd;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #101010;
  left: 0;
  top: 0;
  z-index: 1;
}

.timeline .new-country {
  display: inline-flex;
  background: #ebebeb;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em;
}
.timeline
  ul
  li
  .left_content.timeline_text_content
  .new-country
  .virus-icon-alert,
.timeline
  ul
  li
  .right_content.timeline_text_content
  .new-country
  .virus-icon-alert {
  background-color: #3cc3dd;
  padding: 10px;
  margin-right: 1em;
}
.timeline ul li .left_content.timeline_text_content .new-country p,
.timeline ul li .right_content.timeline_text_content .new-country p {
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  color: #101010;
  padding: 1em;
  margin-bottom: 0 !important;
}

/* NAV Styles */
nav.nav-timeline-month{
  top: 48px;
  left: 0;
  background: #101010;
  position: sticky;
  z-index: 999;
}
nav.nav-timeline-month ul{
  width: 90%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav.nav-timeline-month ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav.nav-timeline-month ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav.nav-timeline-month ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav.nav-timeline-month ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav.nav-timeline-month ul li.logo{
  flex: 1;
  color: #ffffff;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 14px;
  cursor: default;
  user-select: none;
}
nav.nav-timeline-month ul li a{
  color: #ffffff;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 14px;
  text-decoration: none;
  transition: .4s;
}
nav.nav-timeline-month ul li:hover a{
  color: #3cc3dd;
}
nav.nav-timeline-month ul li i{
  font-size: 23px;
}
nav.nav-timeline-month ul li.btn{
  display: none;
}
nav.nav-timeline-month ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav.nav-timeline-month{
    padding: 0 5px;
  }
  nav.nav-timeline-month ul li.items{
    width: 30%;
    display: block;
    text-align: right;
  }
  nav.nav-timeline-month ul li.items:hover{
    border-radius: 5px;
  }
}

nav.nav-timeline-day {
  float: left;
  width: 100%;
  height: 50px;
  top: 100px;
  left: 0;
  background: #101010;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

nav.nav-timeline-day .padded {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}

.nav-timeline-day ul {
  float: left;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-timeline-day ul li {
  float: left;
  display: inline;
  margin-right: 0px;
  list-style: none;
}

.nav-timeline-day ul li a {
  display: block;
  padding: 10px 10px;
  text-align: center;
  font-family: "Worksans-Regular", sans-serif;
  font-size: 10px;
  background: #101010;
  border: 1px solid #53585f;
  color: #a0a6af;
  text-decoration: none;
}

.nav-timeline-day ul li a:hover {
  color: #101010;
  background: #fbe15c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-timeline-day ul li.active a {
  background: #fbe15c;
  color: #101010;
}

/* scrollTop Styles */
.nav-timeline-day ul li.scrollTop {
  float: right;
}

.nav-timeline-day ul li.scrollTop a {
  height: 50px;
  padding: 15px 10px;
}

.nav-timeline-day ul li.scrollTop i {
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
}

li a.target {
  position: absolute;
  left: 0px;
  top: -150px;
}

.nav-timeline-day ul li.scrollTop i.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*visualization-table*/
.table-segment {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 0.8em 0.5em;
  border-radius: 3px;
  border: 0px solid #dddee0;
  margin: 2em 0;
}

.timeline
  ul
  li
  .right_content.timeline_text_content
  .table-segment
  h3.table-title,
.timeline
  ul
  li
  .left_content.timeline_text_content
  .table-segment
  h3.table-title {
  font-family: "Gilroy-ExtraBold";
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
  padding: 0.8em 0;
}

.visualization-table th,
.visualization-table tr,
.visualization-table td {
  font-family: "Worksans-Regular";
  color: #101010;
  font-size: 12px;
  border-radius: 0px;
  border-bottom: 1px solid #dddee0;
}

.visualization-table {
  width: 100%;
  border: 0px solid #dddee0;
}

.visualization-table-head {
  background-color: #fa0067;
  font-family: "Worksans-SemiBold";
  font-size: 12px;
  color: #ffffff;
}

.visualization-table-head td {
  color: #ffffff;
  padding: 0.35em 1em;
}

.visualization-table-body tr {
  border: 0px solid #dddee0;
}

.visualization-table-body th.cell-comunidad,
.visualization-table-body td.cell-comunidad {
  width: 35%;
}

.visualization-table-body td {
  width: 10%;
}

.visualization-table-body th {
  background-color: #dddee0;
  font-family: "Worksans-SemiBold";
  color: #101010;
  padding: 0.35em 1em;
  position: relative;
  z-index: 10;
}

.visualization-table-body td {
  padding: 0.35em 1em;
}

.visualization-table-body td.cell-recuperados {
  color: #00b749;
  text-align: right;
}

.visualization-table-body td.cell-fallecidos {
  color: #fa0067;
  text-align: right;
}

.visualization-table-body td.cell-confirmados {
  color: #bfa108;
  text-align: right;
}
.visualization-table-body td.cell-total {
  color: #101010;
  text-align: right;
}

/*special-banner*/

.banner-week-summary {
  display: flex;
  width: 100vw;
  height: auto;
  background: #3cc3dd;
  padding: 3em 0 3em;
}

.banner-week-summary .section-block {
  margin: 1em auto;
  width: 90%;
  max-width: 1024px;
}
.banner-week-summary .section-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 64px;
  line-height: 64px;
  color: #fbe15c;
}
.banner-week-summary.small-text .section-block h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 36px;
  line-height: 38px;
}

.banner-week-summary .section-block h2.news-banner {
  color: #101010;
}
.banner-week-summary .section-block h2.news-banner strong {
  color: #ffffff;
}
.banner-week-summary .section-block h2.news-banner strong.strong-gold {
  color: #fbe15c;
}
.banner-week-summary .section-block h3 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #101010;
}

.banner-week-columns {
  height: auto;
  margin-top: 4em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 75px;
  -moz-column-gap: 75px;
  column-gap: 75px;
}
.banner-week-columns p {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #101010;
}
.banner-week-columns strong,
.banner-week-columns a {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  color: #ffffff;
}
.banner-week-columns .line-dotted {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: dotted;
  border-color: #ffffff;
  margin: 0.5em 0;
}
@media (max-width: 1024px) {
  .timeline {
    width: 100%;
  }

  .timeline
    ul
    li
    .left_content.timeline_image_content.image_datos
    .timeline-img-datos {
    width: 28em;
  }

  .timeline ul li .right_content.timeline_text_content .block-image-right img,
  .timeline ul li .left_content.timeline_text_content .block-image-right img {
    width: 10em;
    margin-left: 25%;
  }

  .timeline ul li .left_content.timeline_text_content .block-image-right,
  .timeline ul li .right_content.timeline_text_content .block-image-right {
    display: block;
    padding: 0;
  }

  .timeline ul li .right_content.timeline_text_content .block-image-right p,
  .timeline ul li .left_content.timeline_text_content .block-image-right p {
    margin-left: 0;
  }

  .timeline ul li .right_content.timeline_text_content .two-columns,
  .timeline ul li .left_content.timeline_text_content .two-columns {
    display: block;
  }

  .timeline ul li .right_content.timeline_text_content .two-columns img,
  .timeline ul li .left_content.timeline_text_content .two-columns img {
    width: 100%;
  }

  .timeline ul li .right_content.timeline_text_content .two-columns p,
  .timeline ul li .left_content.timeline_text_content .two-columns p {
    width: 100%;
  }

  .timeline
    ul
    li
    .left_content.timeline_text_content
    .two-columns
    p.two-columns-text {
    margin-left: 0;
  }

  .timeline ul li .right_content.timeline_text_content .two-columns img + p {
    width: 100%;
    margin-left: 0;
  }

  .visualization-table th,
  .visualization-table tr,
  .visualization-table td {
    font-family: "Worksans-Regular";
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .timeline
    ul
    li
    .left_content.timeline_image_content.image_datos
    .timeline-img-datos {
    width: 20em;
  }
}

@media (max-width: 767px) {
  .timeline {
    width: 100%;
  }

  .timeline:before {
    left: 20px;
  }

  .timeline
    ul
    li
    .left_content.timeline_image_content.image_datos
    .timeline-img-datos {
    width: 22em;
  }

  .timeline ul li {
    padding: 0 0 10em;
  }

  .timeline ul li:nth-child(odd):before {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 4px #101010;
  }

  .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content {
    position: relative;
    top: 0;
    left: 32px;
    right: inherit;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 95%;
    left: -5%;
    text-align: left;
    padding-left: 35px;
  }

  .timeline ul li:nth-child(odd):before {
    top: -5px;
    left: 18px;
  }

  .timeline ul li:nth-child(even):before {
    top: -5px;
    left: 18px;
  }

  .timeline ul li:nth-child(even) .left_content {
    top: -30px;
    left: 50px;
    right: inherit;
  }

  .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content {
    top: 0;
    left: 0;
    right: inherit;
  }

  .timeline ul li .left_content.timeline_image_content.image_datos {
    top: -40px;
    left: 1em;
  }

  .left_content {
    padding-bottom: 0px;
  }

  .timeline
    ul
    li
    .left_content.timeline_image_content.image_datos
    .timeline-img-datos {
    width: 22em;
  }

  .timeline ul li .right_content.timeline_text_content {
    width: 100%;
    padding: 0 0 0 1em;
    margin-top: -30px;
  }

  .timeline ul li .left_content.timeline_text_content {
    width: 100%;
    padding: 0 0 0 1em;
  }

  .timeline ul li .right_content.timeline_text_content h2 {
    font-size: 24px;
  }

  .timeline ul li .right_content.timeline_text_content h3 {
    margin-top: -5px;
    padding: 0 2px 10px 0;
  }

  .timeline ul li .right_content.timeline_text_content h4 {
    margin-bottom: -5px;
  }

  .timeline ul li .right_content.timeline_text_content .two-columns img,
  .timeline ul li .left_content.timeline_text_content .two-columns img {
    width: 20em;
    margin-left: 20%;
  }

  .timeline ul li .right_content.timeline_image_content img {
    width: 50%;
    margin-bottom: 10px;
  }

  .timeline ul li .left_content.timeline_text_content .block-image-right {
    padding-top: 1em;
  }

  .timeline ul li .right_content.timeline_text_content .block-image-right img,
  .timeline ul li .left_content.timeline_text_content .block-image-right img {
    width: 12em;
  }

  .visualization-table th,
  .visualization-table tr,
  .visualization-table td {
    font-size: 8px !important;
  }

  .timeline ul li .left_content.timeline_text_content .table-segment h3 {
    font-size: 8px !important;
    padding: 0.5em 0 !important;
  }

  .timeline_text_content .timeline-link a {
    font-size: 10px;
  }

  /*visualization-table*/
  .table-segment {
    display: none;
  }

  nav.nav-timeline-day {
    display: none;
  }
}

@media (max-width: 480px) {
  .timeline .section-day-bar {
    margin-left: 0;
    margin-right: 0;
    margin-top: -30%;
    padding: 4em 1em 1em;
  }
  .timeline .section-day-bar-content {
    margin-left: 0%;
  }
  .timeline
    ul
    li
    .left_content.timeline_image_content.image_datos
    .timeline-img-datos {
    width: 16em;
  }
  .timeline ul li .right_content.timeline_text_content .two-columns img,
  .timeline ul li .left_content.timeline_text_content .two-columns img {
    width: 16em;
    margin-left: 0;
  }
  .timeline ul li .right_content.timeline_text_content .timeline-img-content,
  .timeline ul li .left_content.timeline_text_content .timeline-img-content {
    margin-left: 0;
  }

  .banner-week-summary {
    width: 100vw;
  }
  .banner-week-summary .section-block {
    width: 85%;
    max-width: 360px;
    margin: 0 auto;
  }
  .banner-week-summary .section-block h2 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 36px;
    line-height: 40px;
  }

  .banner-week-summary .section-block h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .banner-week-summary .section-block p,
  .banner-week-summary .section-block p strong {
    font-size: 24px;
  }
  .banner-week-summary .section-block h2.news-banner {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-week-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/*-----------Explication section-----------*/

.explication-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("img/overlay-dark-source.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  color: #fff;
  padding-bottom: 150px;
}

.explication-text-container {
  width: 100%;
  max-width: 660px;
  margin: 0 auto 70px;
  padding: 0 50px;
}

.explication-text-container p {
  margin-bottom: 25px;
}

.explication-h2 {
  font-size: 30px;
  font-family: Gilroy-ExtraBold, sans-serif;
  margin: 80px auto 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.paragraph-inner-container {
  margin-bottom: 20px;
  position: relative;
}

.paragraph-inner-container h3 {
  color: #19e99e;
  font-size: 24px;
  font-family: Gilroy-ExtraBold, sans-serif;
  margin-bottom: 10px;
}

.explication-icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: top right;
  margin: 40px 0 20px 0;
  transition: 0.3s;
}

.explication-icon.first {
  background-image: url("svg/remote-ico.svg");
}

.explication-icon.second {
  background-image: url("svg/info-ico.svg");
}

.explication-icon.third {
  background-image: url("svg/data-ico.svg");
}

@media (min-width: 780px) {
  .explication-h2 {
    font-size: 24px;
  }
}

@media (min-width: 960px) {
  .explication-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 7px;
    left: -110px;
    margin: 0;
  }
}

/*---------Source Section---------*/

.source-section-bg {
  width: 100vw;
  min-height: 100vh;
  background-image: url("img/overlay-dark-source-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}

/*---------API Section---------*/

.apiPage-section-bg {
  width: 100vw;
  min-height: 100vh;
  background-image: url("img/overlay-dark-api-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}

/*---------footer---------*/
.footer {
  height: 100px;
  width: 100%;
  background-color: #101010;
  color: #fff;
  font-size: 10px;
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  min-width: 320px;
  max-width: 950px;
  width: 100%;
  padding: 20px;
  font-family: Worksans-Regular, sans-serif;
}

.footer-inner-left,
footer-inner-right {
  display: inline-block;
}

.footer-logo {
  width: 18px;
  height: 18px;
  background-image: url("svg/logo-white.svg");
  background-repeat: no-repeat;
}

.footer-logo.logo-desktop {
  display: none;
}

.footer-logo.logo-mobile {
  margin-bottom: 10px;
}

.footer-text {
  display: none;
}

.footer a {
  color: #fff;
  transition: 0.3s;
}

.footer a:hover {
  opacity: 0.7;
}

@media (min-width: 960px) {
  .footer {
    height: 35px;
    font-size: 11px;
  }

  .footer-text {
    display: inline-block;
  }

  .footer-inner-container {
    padding: 0 0;
    flex-direction: row;
    text-align: center;
  }

  .footer-logo.logo-desktop {
    display: block;
  }

  .footer-logo.logo-mobile {
    display: none;
  }
}
