.graph-2 .graph-title {
    font-size: 24px;
    text-align: left;
    color: #484848;
}


#table {
    margin: 20px auto 110px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 6px 10px rgba(179, 98, 132, 0.1);
    border-radius: 5px;
}


#table table {
    border-collapse: collapse;
    font-size: 10px;
    color: #606060;
}

.table-names table {
    width: 140px;
    position: relative;
    z-index: 20;
    box-shadow: 10px 0px 8px -8px rgba(179, 98, 132, 0.1);
}

.table-name-column-th {
    background-color: #efefef;
    padding: 0 15px;
    text-align: left;
    vertical-align: center;
    border-right: 1px solid #fff;
    border-radius: 5px 2px 0 0;
    height: 60px;
}

.name-column-td {
    padding: 0 15px;
    text-align: left;
    background-color: #f7f7f7;
}

/*------ Table with content -------*/
.table-content {
    width: 100%;
    overflow-x: scroll;
    border-radius: 0 5px 5px 0;
    position: relative;
    z-index: 10;
}

.table-content table {
    width: 100%;
}


.table-content thead tr th {
    border-right: 1px solid #fff;
    border-radius: 2px 2px 0 0;

}

.month {
    text-align: center;
    background-color: #efefef;
    height: 30px;
    font-size: 11px;
}

.table-content thead tr th.fecha {
    background-color: #efefef;
    text-align: center;
    height: 30px;
    font-size: 8px;
    line-height: 8px;
    border-right: none;
}

.table-content thead tr th.cell-empty {
    border-right: none;
    width: 1px;
}

tr {
    height: 30px;
    border-bottom: 1px solid #fff;
}

.empty {
    background-color: #fffafc;
}


.light {
    background-color: #fde8ef;
}

.middle {
    background-color: #fcc5d9;
}

.saturated {
    background-color: #f98cb3;
}

.oversaturated {
    background-color: #f8538f;
}

.table-legend-container {
    display: flex;
    font-family: Gilroy-SemiBold, sans-serif;
    margin-top: 25px;
    margin-left: 2px;
}

.legend-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #101010;
}

.legend-text {
    display: block;
    font-size: 10px;
    line-height: 30px;
}

.legend-color {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-color.first {
    background-color: #fde8ef;
}

.legend-color.second {
    background-color: #fcc5d9;
}

.legend-color.third {
    background-color: #f98cb3;
}

.legend-color.fourth {
    background-color: #f8538f;
}

@media (min-width: 610px) {
    .table-content thead tr th.fecha {
        border-right: 1px solid #fff;
    }
}